[2018-08-13 16:53] dajean0104 opened #1 "you can not directly start a project with a class library result type"
Hi,

I'm trying to test the module but I have the following error:

you can not directly start a project with a class library result type

I'm using visual studio 2017. Thank you.

[2018-08-13 18:25] isaiahwilliams commented on #1
Hi @dajean0104, you can install this module directly from PowerShell by performing the following

1. Run the following command from an elevated instance of PowerShell

[code]

2. Close all open instance of PowerShell
3. Run the following command from a new elevate instance of PowerShell

[code]

If you would like to run this module from an instance of Visual Studio then you will need to configure

[2018-08-17 12:37] isaiahwilliams commented on #1
I hope that my response helped. I am going to close this issue, but if you are still having issues please feel free to reopen it. If you are having a new issue please open a new issue.

[2018-08-17 12:37] #1 closed

[2018-08-30 15:41] RobBiddle opened #5 "Connect-PartnerCenter does not support MFA"
I'd love to use this module but I can't because it doesn't support MFA enabled accounts.

`$ Connect-PartnerCenter -Credential $myO365cred -ApplicationId xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
Connect-PartnerCenter : AADSTSxxxxx: Due to a configuration change made by your administrator, or because you moved to a new location, you must use
multi-factor authentication to access 'xxxxxxxx-xxxx-xxxx-xxx

[2018-08-30 16:00] RobBiddle commented on #5
Looks like it does support MFA, but only if the -Credential parameter is not supplied.

[2018-09-03 12:23] cblackuk opened #7 "New-PartnerCustomer does not work - Bad Request"
# Steps to reproduce

[code]
## Environment

[code]

[2018-09-03 12:28] cblackuk commented on #7
Not sure if this is the first part of the process based on https://docs.microsoft.com/en-us/azure/cloud-solution-provider/customer-management/create-new-customer#powershell

But I expeced it to create a new user and no matter what params I put it just does Bad Request and nothing happens...

[2018-09-03 12:46] cblackuk commented on #7
More debug log:
[code]

[2018-09-04 21:53] danabrash opened #8 "Get-PartnerCustomerAgreement not working"
When I call the cmdlet and let it prompt for customerID it fails telling me CustomerID doesn't pass RegEx pattern match:

[code]

When I compare the customerID directly to the RegEx, I get a $true back:
[code]

When I pass the parameter in at call time, I get a generic exception error:

[code]

Installed today:

[code]

Any help appreciated.

[2018-09-05 23:54] cblackuk commented on #7
I figured it out! I know what is wrong and how to fix it! I also have an improvement for your code to make it obvious for other people, will create a PR for the improvement tomorrow morning!!!

[2018-09-06 00:49] #7 closed

[2018-09-06 00:51] isaiahwilliams commented on #7
Hi @cblackuk

This issue was closed when I merged the pull request. I am working to publish an update that will make the error message more visible. This update should be available later this week. Thank you for digging into this issue.

[2018-09-06 00:52] cblackuk commented on #7
Hi @isaiahwilliams  thanks for that :-) there is a syntax issue in my PR ;-( I was literally fixing it but you just merged it

[2018-09-06 00:54] isaiahwilliams commented on #8
Hi @danabrash,

This error will happen if the customer has not already accepted the agreement. It is a bit confusing, but this is the excepted behavior from the Partner Center API. I will work on modifying this command so it will handle the error. You will want to use the [New-PartnerCustomerAgreement.](https://github.com/Microsoft/Partner-Center-PowerShell/blob/master/docs/help/New-PartnerCustome

[2018-09-06 01:03] cblackuk commented on #8
@danabrash
How are you obtaining the CustomerID Var? I do this and it works:

[code]

[2018-09-08 06:11] giarbi opened #12 "LastDirectorySyncTime empty"
Get-PartnerCustomerUser returns no value for LastDirectorySyncTime

[2018-09-08 15:46] isaiahwilliams commented on #8
Hi @giarbi,

Would you mind sharing the parameters you used when running the command? It should look similar to the following

[code]
I just successfully invoked the command against a new customer. So, I am thinking that your issue is related to the parameters.

[2018-09-08 15:47] isaiahwilliams commented on #12
Hi @giarbi,

Can you confirm that the user in question is being synchronized using Azure AD Connect? If not that value should be empty.

[2018-09-13 06:32] qbihay opened #13 "Get-PartnerCustomerOrder -CustomerID $ID"
Hello,

# Steps to reproduce

$CustomerID = Get-PartnerCustomer | select -first 1
Get-PartnerCustomerOrder -CustomerId $CustomerID.CustomerId

## Actual Error

Get-PartnerCustomerOrder : Object reference not set to an instance of an object.
At line:1 char:1
+ Get-PartnerCustomerOrder -CustomerId $CustomerID.CustomerId
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2018-09-13 08:58] qbihay opened #14 "Get-PartnerInvoiceLineItem for Azure"
Hello,
Compare to the old module, the Get-PartnerInvoiceLineItem -InvoiceId xxxx-BillingProvider Azure -LineItemType UsageLineItems missed a lot of value.
example : SKU / includedQuantity / ListPrice / taxamout / postTaxTotal / chargetype / etc...
so with this command it's impossible to retrieve the azure part of the billing.

[2018-09-13 14:42] isaiahwilliams commented on #14
Hi @qbihay,

Since you are looking for invoice details try running the following command instead

[code]

If you set the LineItemType parameter to UsageLineItems it will return the Azure usage records associated with the invoice instead of the charges. Let me know if this returns the data you are seeking.

[2018-09-13 15:14] isaiahwilliams commented on #13
Hi @qbihay,

I have identified the root cause of this issue and corrected it. I am planning to release an updated version of the module by the end of the week. If you discover any additional issues please open a new issue and I will be sure to get them corrected as soon as possible.

Thank you for bring this issue to my attention.

[2018-09-14 03:37] isaiahwilliams commented on #13
Hi @qbihay,

I have merged PR #15 which addressed this issue. I will be publishing an updated version of the module shortly. Please let me know if you have discovered any other issue.

[2018-09-14 03:37] #13 closed

[2018-09-17 07:37] qbihay commented on #13
Hello,

I've updated to module and now it work.
Thanks !

[2018-09-18 14:33] isaiahwilliams commented on #14
I am glad that everything is working as excepted now. If you have any other issues please let us know.

[2018-09-18 14:33] #14 closed

[2018-09-18 14:49] isaiahwilliams commented on #8
I am going to close this issue, but if you are still encountering issues please feel free to reopen it or create a new issue.

[2018-09-18 14:49] #8 closed

[2018-09-18 18:06] danabrash commented on #8
Thanks @cblackuk, that was exactly perfect.

[2018-09-20 07:28] CStahlberg opened #16 "Get-PartnerCustomerSubscriptionUtilization Parameter Validation Error"
# Steps to reproduce
Using Get-PartnerCustomerSubscriptionUtilization -CustomerId $customer.CustomerId -SubscriptionId $subscription.SubscriptionId -StartDate (Get-Date).AddMonths(-1).ToUniversalTime() -granularity Hourly -ShowDetails -EndDate (Get-Date).ToUniversalTime()
will give a validation error for end date because it is not a GUID.

## Expected behavior
Entering an end date should give me a

[2018-09-20 17:40] isaiahwilliams commented on #16
Hi @CStahlberg,

I am not sure how that attribute got added to the end data parameter. This is a bug, and I will have a fix deployed for this issue by the end of the week. Please let us know if you discover any other issues.

[2018-09-21 03:33] isaiahwilliams commented on #16
Hi @CStahlberg,

I just published version 1.0.1809.8 which contains a fix for this issue. Thank you for opening the issue, please let us know if you have any other issues.

[2018-09-21 03:33] #16 closed

[2018-09-24 08:24] mattheuslee opened #18 "Set-PartnerCustomer cmdlet doesn't use input parameters"
## Expected behavior

Set-PartnerCustomer should update the customer billing profile using the given input parameters if they are non-null and valid.

## Actual behavior

Set-PartnerCustomer doesn't seem to use the input parameters in updating the customer billing profile for many of the billing profile properties. Instead it is currently using `Name`, which results in an invalid data error being

[2018-09-24 14:02] isaiahwilliams commented on #18
Hi @mattheuslee,

I have corrected this issue and will be deploying an updated version to the PowerShell gallery later this week. Please let us know if you discover any other issues.

[2018-09-24 15:19] mattheuslee commented on #18
Thanks for the update, I'm looking forward to using the updated module.

[2018-09-25 21:36] montereyharris opened #19 "Can't log in"
# Steps to reproduce
Connect-partnercenter with login dialog returns AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application from Azure AD when http://localhost/ is the reply url

[2018-09-26 12:32] isaiahwilliams commented on #19
Hi @montereyharris,

We are working to simplify the authentication process. Currently it is more complex than we like. To address your issue please make sure you have performed the steps documented at https://github.com/Microsoft/Partner-Center-PowerShell#configure-azure-ad-native-app

[2018-09-26 12:53] isaiahwilliams commented on #18
Hi @mattheuslee,

I just merged PR #20 that included a fix for this issue. Also, version [1.0.1809.10](https://www.powershellgallery.com/packages/PartnerCenter/1.0.1809.10) is now available through the PowerShell gallery. Please let us know if you discover any other issues.

[2018-09-26 12:53] #18 closed

[2018-09-26 14:13] montereyharris commented on #19
That worked. May I suggest may be a script that runs and preps a provided Native App or creates one? So the instructions are run this script or just have the Partner Center team add the PowerShell well known uri to the Native Center App

[2018-09-26 15:53] mattheuslee commented on #19
I'm not so sure if you can have a script can create a native app since that's kind of a catch 22 - you need a native app ID to authenticate with partner center to establish a connection in order to create a native app (also, as far as I'm aware there is no existing REST endpoint which creates a Partner Center native app).

I think the current configuration steps in the Readme are clear enough, but

[2018-09-27 10:34] Agazoth opened #21 "Connect-PartnerCenter with client secret"
# Feature Request

**Is your feature request related to a problem? Please describe.**
Log on in scripts is not possible in a tenant with MFA

**Describe the solution you would like**
With the depricated Add-PCAuthentication you could log on with a application id and client secret. Could that option be integrated in the new Connect-PartnerCenter?

[2018-10-03 14:15] isaiahwilliams commented on #21
Hi @Agazoth, this is a feature that we hope to have available later this month. Most of the work for this change has been completed, but we still need to do regression testing and a security review. I will keep you posted on our progress with this change.

[2018-10-03 14:19] isaiahwilliams commented on #19
Hi @montereyharris and @mattheuslee, this is great feedback. I will see how best we can incorporate these recommendations into the module. Also, we are working to add the ability to use app only authentication which will simplify this process. Since you were able to authenticate, I am going to close this issue. Please let us know if you have any additional feedback! We really appreciate your willi

[2018-10-03 14:19] #19 closed

[2018-10-03 14:20] isaiahwilliams commented on #12
Hi @giarbi,

If you are still having an issue with this value being null for user that have been synchronized please re-open this request.

[2018-10-03 14:20] #12 closed

[2018-10-05 16:23] cblackuk opened #22 "Get-PartnerCustomerOffer - Returns LIST instead of Array"
We are trying to convert from the old module and the command we used before was:

[code]

This returns PowerShell objects like a normal cmdlet so you can pass Where-Object to it.

It was achieved by this code "transformation"

[code]

Inside the command:

[code]

New command however returns a LIST... so you cannot treat is a an PS Object.

[code]
If you run this you will get everything returned.

[2018-10-05 16:45] cblackuk commented on #22
I found a better workaround:
[code]
Output:

[code]

So it only breaks when you try to filter at the same time as you are trying to list offers but once the object has been saved, it can be treated as PS Object.

Still needs fixing in CSharp imho.

[2018-10-08 11:37] cblackuk opened #23 "Need to be able to query CompanyProfile Email"
We used to be able to query registered emial fro Get-PCCustomer and via
Get-PCCustomerCompanyProfile -TenantId $($CustomerDetails.id) cmdlets.

New commands do not have equivalent of the latter and the Get-PartnerCustomer does not contain that information. It is extremely important we get that email address as we use it for on-boarding throughout the code,

[code]

Also:
[code]

And:
[code]
New co

[2018-10-08 19:57] isaiahwilliams commented on #22
Hi @cblackuk,

Thank you for bring this to my attention. The reason you are encountering this behavior is that PowerShell is writing the collection instead of each individual line. I have corrected this issue by modifing the WriteOutput code to look like

[code]

This issue will be resolved in the next release of the module. My hope is to have it ready to go this week. In the meantime please let m

[2018-10-08 19:59] cblackuk commented on #22
That is AMAZING!!! Thank you ever so much for getting back to me!!!

The second issue I raised is much bigger one and a showstopper for me ;-( @isaiahwilliams

[2018-10-08 20:24] isaiahwilliams commented on #23
HI @cblackuk,

Most of the profile operations, that are scoped to a customer, are not available yet. With the release that we are targeting for later this week will contain the following new features

- Addition of the Get-PartnerCustomerBillingProfile command
- Addition of the Get-PartnerCustomerCompanyProfile commmand
- All regex patterns will ignore case
- Support for app only authentication

R

[2018-10-10 08:11] boecskoer opened #24 "Get-PartnerCustomerUsageSummary throws converting exception"
# Steps to reproduce

Just execute statement e.g.
`PS C:\> Get-PartnerCustomerUsageSummary -CustomerId $customer.CustomerId`
Module Version:
[code]
## Expected behavior

should return Customer Usage Summary

## Actual behavior

[code]

## Environment

Windows 10 Enterprise 1709
PowerShell 5.1 Build 16299 Revision 611

[2018-10-10 14:38] isaiahwilliams commented on #24
Hi @boecskoer,

Thank you for bringing this issue to my attention. I have modified the code to correct this issue and to prevent it from happening again. The fix for this issue will be deployed later this week because I am still performing regression testing on a handful of other features that will be added at the same time. Please let us know if you find any other issues.

[2018-10-10 19:32] isaiahwilliams commented on #24
Hi @boecskoer,

I just published version [1.5.1810.2](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1810.2) which includes a fix for this issue. Once you update to the latest version this command will function as excepted. Please let me know if you find any other issues.

[2018-10-10 19:32] #24 closed

[2018-10-10 19:33] isaiahwilliams commented on #23
Hi @cblackuk,

I just published version [1.5.1810.2](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1810.2) which includes two new command

- Get-PartnerCustomerBillingProfile
- Get-PartnerCustomerCompanyProfile

You will be able to get the email address using the billing profile command. Please let me know if you have any issues with this new command.

[2018-10-10 19:35] isaiahwilliams commented on #22
Hi @cblackuk,

I just published version [1.5.1810.2](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1810.2) which includes a fix for this issue. Once you update to the new version, you will be able to filter the items as you except. Please let me know if you have any issues.

[2018-10-10 19:35] #22 closed

[2018-10-10 19:39] isaiahwilliams commented on #21
Hi @Agazoth,

I have just published version [1.5.1810.2](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1810.2). With this update I have added support for app only authentication. You can now connect using the following

[code]

The username portion of the credentials needs to be the application identifier and the password portion needs to be the application secret. Please note that

[2018-10-10 19:39] #21 closed

[2018-10-10 19:41] isaiahwilliams commented on #5
Hi @RobBiddle,

I have just published version [1.5.1810.2](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1810.2). With this update I have added support for app only authentication. You can now connect using the following

[code]

The username portion of the credentials needs to be the application identifier and the password portion needs to be the application secret. Please note tha

[2018-10-10 19:41] #5 closed

[2018-10-10 19:51] Agazoth commented on #21
Thanks Isaiah, I will give it a spin tomorrow.

[2018-10-10 21:30] fboisvert opened #26 "New-PartnerCustomerAgreement - Date of agreement cannot be greater than the current date"
# Steps to reproduce
Current code block, after authentication and getting $agreement with Get-PartnerAgreementDetail:
[code]
$csv is imported from a file containing 3 headers: email,fname,lname and returns proper values

## Expected behavior
When texted a few weeks ago, the same code succeeded with no errror

## Actual behavior
[code]

## Environment
PSVersion: 5.1.17763.1
winver: 1809 build 17763

[2018-10-10 22:08] cblackuk commented on #23
Hi @isaiahwilliams

Thanks for that but sadly that does not fix my issue.

Old command on CompanyProfile would return email as it does it the GUI and this is the only email that gets populated for a brand new domain.

BillingProfile email is what I need to set but I need to query it from CompanyProfile (that is how I did it with old modules and APIs) so can we please add email field to CompanyProf

[2018-10-10 22:19] isaiahwilliams commented on #23
Hi Chris,

My apologizes I completely missed that those fields where missing from the model. I just got them added, and they will be included in the next release of the module. I will double check the other models to make sure nothing else is missing.

[2018-10-10 22:27] cblackuk commented on #23
@isaiahwilliams Thanks is extraordinary :-) Thanks for that! It would be a massive help for me to get it included :)

[2018-10-10 23:53] jackkur opened #27 "Get-PartnerCustomerSubscriptionUtilization error on some subscriptions only"
# Steps to reproduce

`Connect-PartnerCenter -ApplicationId <GUID> -Credential $credential`

`$usage = Get-PartnerCustomerSubscriptionUtilization -CustomerId <GUID> -SubscriptionId <GUID> -StartDate <Date> -EndDate <Date> -Granularity Daily -ShowDetails`

## Expected behavior

Data from same subscriptions is retrieved properly with PartnerCenterModule 0.10.0.5

## Actual behavior

Error is returne

[2018-10-11 05:07] boecskoer commented on #24
Hi @isaiahwilliams thank you for fixing this issue in record time!

[2018-10-11 13:01] Agazoth commented on #21
I think I ran into a full stop. I'm trying to automate billing, and the only thing I cannot get is the Billing Profile of the customer. I think it is caused by the authentication method. Can you confirm, that Get-PartnerCustomerBillingProfile is one of the cmdlets that cannot be used with this authentication method?

[2018-10-11 15:32] isaiahwilliams commented on #21
Hi @Agazoth,

According to the documentation it supports both authentication models. However, through some testing it appears to only support app + user authentication. Are you receiving an error similar to the following?

Get-PartnerCustomerBillingProfile : The supplied role does not have the rights to perform the requested operation.

I am going to do some additional testing to validate this.

[2018-10-11 15:42] Agazoth commented on #21
Yes, that is exactly the error I receive.

[2018-10-12 19:39] fboisvert commented on #26
I tested the command manually (Not within a script) in the last few minutes, and I am getting the same error. Do you require any additional data?

[2018-10-13 05:03] isaiahwilliams commented on #26
Hi @fboisvert,

Thank you for sharing this update. I just published version [1.5.1810.4](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1810.4) which contain a fix for this issue. After you have updated to the new version this will work as excepted.

[2018-10-13 05:03] #26 closed

[2018-10-13 05:06] isaiahwilliams commented on #27
Hi @jackkur,

I just published version [1.5.1810.4](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1810.4), it includes some modifications to the way the models are converted. Can you test this update and let me know if you are still having issues?

[2018-10-15 23:14] jackkur commented on #27
Hi @isaiahwilliams,

Thank you so much for getting this fixed so quickly.
It is now working as expected.

Thank you,
Jack

[2018-10-16 12:50] isaiahwilliams commented on #27
Hi @jackkur,

That is great to hear! Please let us know if you have any other issue.

[2018-10-16 12:50] #27 closed

[2018-10-17 19:13] johandehaan commented on #12
I've exactly the same issue. All of them have an empty LastDirectorySyncTime.

Also, is it possible to retrieve the immutableID of a user? This way I can find the corresponding AD User..

[2018-10-17 19:18] johandehaan opened #30 "Retrieve ImmutableID with Get-PartnerCustomerUser"
# Feature Request

My customers would like to have a clear image of the users on premises and the usage of licences in Office 365. If I have the `ImmutableID`, I can connect that one with the `ObjectGUID` on the AD User.

If I retrieve a user with `Get-PartnerCustomerUser` I would like to find an attribute like `ImmutableID`. This is possible with the Module MSOnline, but I haven't found the same

[2018-10-19 07:31] cblackuk commented on #23
Hi @isaiahwilliams  I can see that you published new module three days ago but those fields are still missing... am I missing something here? ;(

[2018-10-19 07:57] AnthonyKersten opened #31 "A parameter cannot be found that matches parameter name 'id'"
# Steps to reproduce

In Azure Functions I've uploaded the Partnercenter module 1.5.1810.6 using FTP. I've loaded the module from within the Azure function successfully. After this I called:

[code]

## Expected behavior

This should connect me to the PartnerCenter.

## Actual behavior

The error I get is that the parameter: ID is not found

## Diagnostic logs

[code]

[2018-10-20 15:33] isaiahwilliams commented on #31
Hi @AnthonyKersten,

An updated version of the module will be available early next week, that will solve this issue. Thank you for bringing this issue to my attention. If you have any other issues please let me know.

[2018-10-22 08:02] cblackuk commented on #23
Hi @isaiahwilliams any update on this please?

[2018-10-25 08:49] skille opened #32 "Get-PartnerContract -DomainName FQDN"
We would like to retrieve a tenant ID based on customer domain name.

Like we could in old MSOnline Module (Get-MsolPartnerContract -DomainName FQDN.
This is needed as input for Get-PartnerCustomer -CustomerID to get a certain customer

[2018-10-29 14:01] isaiahwilliams commented on #32
Hi @skille,

In the next release we will be adding a parameter to the Get-PartnerCustomer command that will enable this functionality. The code has already been added, but we have not updated PowerShell Gallery just yet. Our hope is to have an updated version published later this week.

[2018-11-05 14:59] isaiahwilliams commented on #32
Hi @skille,

We have just deployed version [1.5.1811.1](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1811.1) and it adds the functionality to search for a customer using the onmicrosoft.com domain. Please let us know if you have any other feedback.

[2018-11-05 14:59] #32 closed

[2018-11-05 15:01] isaiahwilliams commented on #31
Hi @AnthonyKersten,

Version  [1.5.1811.1](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1811.1)  was just released. It includes the solution for this issue and several other updates. Once you update this issue will be resolved. Please let us know if you have any other feedback.

[2018-11-05 15:01] #31 closed

[2018-11-06 21:45] isaiahwilliams commented on #30
Hi @johandehaan,

Thank you for opening this feature request. Currently the Partner Center API/SDK does not return the immutable identifier for users. So, we would have to leverage Microsoft Graph to gather this information. With the current design this module is only interacting with the Partner Center API, but we are considering connecting to other APIs to include additional functionality and in

[2018-11-12 11:31] cblackuk commented on #23
Hi @isaiahwilliams I am trying to aviod raising it again but old cmdlets have now been depricated and I have nothing to replace them with. How can I escalate it please?

[2018-11-15 09:35] mtwelve opened #37 "Unable to retrieve AzureOfferTerm object from the RateCard API/Cmdlet"
# Steps to reproduce

Run - _Get-PartnerAzureRateCard -Currency GBP -Region 'GB'_ - doesn't include the AzureOfferTerm object

## Expected behavior

To include the object described here - [https://docs.microsoft.com/en-us/partner-center/develop/azure-rate-card#azureofferterm](https://docs.microsoft.com/en-us/partner-center/develop/azure-rate-card#azureofferterm)

## Actual behavior

Includes a tru

[2018-11-15 09:42] mtwelve commented on #37
I'm an idiot. Please ignore.

[2018-11-15 09:42] #37 closed

[2018-11-15 18:48] isaiahwilliams commented on #23
Hi @cblackuk,

This version of the PowerShell module is using the .NET SDK to request information from the Partner Center API. The address and email properties are not included on the model the SDK is using to deserialize the response from the API. This means the values are going to be omitted. I am actively working on an alternative solution. The hope is to have this solution available next week,

[2018-11-15 20:50] cblackuk commented on #23
Hi @isaiahwilliams  Thank you ever so much! This would be a life-saver as I need to finish re-writing all the code for the new module and without it I am really stuck...

[2018-11-16 09:52] skille opened #39 "A parameter cannot be found that matches parameter name 'ServicePrincipal'."
Unable to connect with Access Token with your documentation:

CMD: New-PartnerAccessToken -Credential $Credential -TenantId $TenantID -ServicePrincipal
Error: New-PartnerAccessToken : A parameter cannot be found that matches parameter name  'ServicePrincipal'.

[2018-11-16 10:07] skille commented on #32
This is great, but it does not work with customer email domain.
No customers is using the .onmicrosoft.com domain.
The cmdlet should support customer domain, like the MSOnline module does.

[2018-11-16 10:09] skille opened #40 "Get-PartnerCustomer -Domain $CustomerDomain"
No customers is using the .onmicrosoft.com domain.
The cmdlet should support customer domain, like the MSOnline module does.

_Originally posted by @skille in https://github.com/Microsoft/Partner-Center-PowerShell/issues/32#issuecomment-439345001_

[2018-11-16 14:56] isaiahwilliams commented on #39
Hi @skille,

The required changes to address this issue are currently being reviewed. With this said this issue will be resolved with the next release. You can work around the issue for now by removing the ServicePrincipal parameter. Since you are including the TenenatId parameter the command will know you are using app only authentication.

[2018-11-16 19:19] isaiahwilliams commented on #23
Hi @cblackuk,

The required changes for this to work have been merged. There a handful of features we are still working to add for the next release. If you need a solution ahead of the upcoming release, please feel free to compile the project using Visual Studio and copy the assemblies into the PowerShell module directory.

[2018-11-19 08:59] cblackuk commented on #23
Hi @isaiahwilliams,

Thank you very much for an update on this.

Any idea when you will be launching the new release so I can decide based on that please?

[2018-11-20 21:40] isaiahwilliams commented on #23
Hi Chris,

The goal is to have this published on Friday of this week. However, there is a possibility this will be delayed because an internal process and the holiday in the US. I will update this issue once it has been published.

Isaiah Williams
________________________________
From: Chris Black <notifications@github.com>
Sent: Monday, November 19, 2018 2:59:13 AM
To: Microsoft/Partner-Center-Po

[2018-11-20 21:42] cblackuk commented on #23
Hi @isaiahwilliams,

Thanks for the update, I think we can wait till Friday.

[2018-11-21 22:57] isaiahwilliams commented on #23
Hi @cblackuk,

This issue has been addressed with the release of version [1.5.1811.4](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1811.4). Thank you for working with me to get this issue resolved. Please let us know if you have any other issues.

[2018-11-21 22:57] #23 closed

[2018-11-21 23:00] isaiahwilliams commented on #39
Hi @skille,

This issue has been addressed with [1.5.1811.4](https://www.powershellgallery.com/packages/PartnerCenter/1.5.1811.4). Please let us know if you encounter any other issues.

[2018-11-21 23:00] #39 closed

[2018-11-21 23:03] cblackuk commented on #23
Thanks @isaiahwilliams  will test it first thing in the morning :-)

[2018-11-24 23:49] VaperWare opened #44 "Get-PCUsage compatitble command"
I'm working on converting our billing module from the previous PartnerCenter version, I'm not finding a command that will return the resourceURI string that get-PCUsage does.

tia for any help

[2018-11-25 00:00] isaiahwilliams commented on #44
Hi @VaperWare,

When you invoke the Get-[PartnerCustomerSubscriptionUtilization](https://docs.microsoft.com/powershell/module/partnercenter/partner-center/get-partnercustomersubscriptionutilization?view=partnercenterps-1.5) it will return the resource URI. Are you finding that the value is missing?

[2018-11-25 14:00] VaperWare commented on #44
Thanks for the update, I do see the URI information when it's piped to the screen, so I'm probably missing something, but is there not a way to return the URI back to an object for processing ?

[2018-11-25 14:07] isaiahwilliams commented on #44
Hi Gerald,

That value is returned as part of the object. So, when you are iterating through the collection of results you will be able to reference it. The current formatting configuration only impacts the default output to the console. All of the underlying properties are still present and can be used as you normally would.

Isaiah Williams
________________________________
From: Gerald Parish <n

[2018-11-25 14:12] VaperWare commented on #44
Isaiah,
Thanks for the clarification, I see them now in the object, a different way of looking at things.

[2018-11-25 14:17] VaperWare commented on #44
One last question on this command, is there a reliable way to pull the utilization records to match up to an invoice for URI reconciliation ?

[2018-11-25 16:36] VaperWare opened #45 "Azure automation, importing module"
I'm not sure what's causing the following error during the module import into Azure automation gallery

Error importing the module PartnerCenter. Import failed with the following error: Orchestrator.Shared.AsyncModuleImport.ModuleImportException: While importing the module, an error occurred while processing the module content. Internal error message: Could not load file or assembly 'netstandard,

[2018-11-26 21:40] isaiahwilliams commented on #45
Hi @VaperWare,

This is an issue that will be fixed with the next release of the module. Right now our hope is have everything ready to be released by the end of this week. Once the update has been released I will let you know.

[2018-12-11 22:10] VaperWare opened #48 "Need some basic help"
I'm having some issues with getting reliable return data, I understand that the data is stored in UTC time correct? now with that understanding I'd to pull data from then system and then match it too the reported data.  Unfortunately the best I can do is to be off by about 2000-3400, I'd be happy with being only off by 500 or less.

report data 11/28/2018 - 12/27/2018

thanks Gerald

[2018-12-12 09:14] itsChris opened #49 "Get-PartnerCustomerRelationship -> results in 1002 Authorization Failed"
# Steps to reproduce

PS C:\> Import-Module PartnerCenter
PS C:\> Connect-PartnerCenter -ApplicationId '86185200-3e87-48b4-8d00-xxxxxxxxxxxx'

Account       : Microsoft.Store.PartnerCenter.PowerShell.Profile.AzureAccount
ApplicationId : 86185200-3e87-48b4-8d00-xxxxxxxxxxxx
CountryCode   : CH
Environment   : GlobalCloud
Locale        : de-CH

PS C:\> Get-PartnerCustomer

CustomerId

[2018-12-14 00:53] jackkur opened #50 "Cannot retrieve usage data when running on the billing date"
When running the following command today, which falls on the last day of billing cycle date, I get an exception. It worked fine when running on any other day (when today in UTC < $EndTime).

Get-PartnerCustomerSubscriptionUtilization -CustomerId $CustomerId -SubscriptionId $SubscriptionId -StartDate $StartTime -EndDate $EndTime -Granularity Daily -ShowDetails

Get-PartnerCustomerSubscriptionUtiliz

[2018-12-14 18:46] jackkur commented on #50
I have executed the script today and it worked correctly with no errors.
This issue happens exactly one day every month on the billing date.

[2018-12-17 12:30] cblackuk opened #51 "Remove-PartnerResellerRelationship - error 3000 - cannot delete the relationship"
# Steps to reproduce

[code]

## Expected behavior

Relationship should be removed. That used to work in old module every time.

## Actual behavior

Error 3000.

## Environment

Latest module

You cannot get the relationship as that is broken also as per https://github.com/Microsoft/Partner-Center-PowerShell/issues/49

[code]

However, the relationship can be seen here:

[code]

[code]

This preve

[2018-12-17 13:02] cblackuk commented on #51
I just tried via old API command and the same error:

[code]

It looks like the API has changed...

[2019-01-01 23:52] isaiahwilliams commented on #51
Hi @cblackuk,

It appears that the relationship with this customer has been orphaned. I would recommend that you open a support ticket through Partner Center. That way you can work with Microsoft support to get the customer completely removed from you.

[2019-01-01 23:52] #51 closed

[2019-01-01 23:54] isaiahwilliams commented on #49
Hi @itsChris,

This is an indication that the relationship between yourself and the customer has been broken. Are you able to access the customer in question through Partner Center without any error?

[2019-01-01 23:57] isaiahwilliams commented on #50
Hi @jackkur,

Thank you for sharing this information with us. I have seen this behavior in a few circumstances, but they were caused by using none UTC times. Can you share how you are specifying the start and end date parameters?

[2019-01-02 10:33] cblackuk commented on #51
Hi @isaiahwilliams,

Thanks for getting back to me. I forgot to close this off as we did raise a case with MS after we figured out that it was a specific sub that was broken.

Still no resolution sadly but it is definitely not a code issue.

[2019-01-02 10:37] cblackuk commented on #49
This one however is not related to any broken sub. It does not matter which one you are querying, or who you are logged in as (SPN or Admin) it is just broken full stop.  @isaiahwilliams

[2019-01-04 09:13] itsChris commented on #49
@isaiahwilliams Well, it might be an issue to list a relationship of a 'broken' customer. *but* if i call the method without the -customerid parameter, the error remains the same. with other words, if - in case - one customer relationship is broken, the listing of all the relationsships will fail with the mention 1002 error. Just checked again.

cheers

Christian

[2019-01-08 12:03] cblackuk commented on #49
So we finally got rid of the broken customer with MS Support help but still getting 1002 on getting the reletionship on ALL customers ;-(

[2019-01-09 10:44] slavizh opened #52 "New-PartnerCustomerAgreement Breaking change"
# Steps to reproduce

The command below was working several weeks ago:

[code]

When I executed it on the latest version of the module just today I got error:

[code]

## Expected behavior

Expected output was to complete successfully

## Actual behavior

Behavior was error

## Diagnostic logs

Verbose or Debug does not produce any additional information. Seems those were never implemented.
After

[2019-01-09 18:19] VaperWare opened #53 "Differnet results between PowerShel and Automation Module"
When I run my script in PowerShell with this command in it, Get-PartnerCustomerSubscriptionUtilization, I receive a summary total of 64,151.69 and when I run the exact same code as an Azure Automation job I receive a summary total of 61,940.90.

Why would this be?

Module information
Azure Module - PartnerCenter - 1.5.1812.1
Azure PowerShell - PartnerCenter  - 1.5.1812.1

TIA
Gerald

[2019-01-09 23:50] jackkur commented on #50
Hi @isaiahwilliams,
I pass start and end dates in System.DateTime variables.
For example:
$StartTime = (Get-Date -Year 2019 -Month 1 -Day 14 -Hour 0 -Minute 0 -Second 0 -Millisecond 0)
Year, Month and Day are calculated based on invoices. The time is always set to "00:00:00 -8". (Pacific Time Zone).
Example of range executed today without any issues:
12/14/2018 00:00:00 - 01/14/2019 00:00:00
When

[2019-01-10 03:06] isaiahwilliams commented on #52
Hi @slavizh,

I have not been able to reproduce this issue. Can you try it again and if the error occurs can you run the following?

[code]

Doing this will provide more details regarding the error.

[2019-01-10 03:46] isaiahwilliams commented on #44
Hi @VaperWare,

This feature provides access to the same utilization data that is used to create and calculate the reconciliation file, but it does not have knowledge of billing system reconciliation file logic. Consequently, you should not expect reconciliation file summary results to exactly match the result retrieved from this API for the same time period. There is a possibility it might match,

[2019-01-10 03:46] #44 closed

[2019-01-10 03:50] isaiahwilliams commented on #48
Hi @VaperWare,

If you are talking about the combination of Azure utilization records with rate card. I would recommend that you check out [Cloud Solution Provider: Consuming Azure utilization records using the Partner Center SDK](https://msuspartner.eventbuilder.com/event?eventid=s4k5p7&source=ocp). While this webinar references the .NET SDK, the logic can still be applied to this PowerShell modu

[2019-01-10 08:16] slavizh commented on #52
I've just tried it and same issue. Even tried it on another customer. The tests I am doing are in Sandbox env and I am trying the new authentication model. Could the new auth model affecting this. This is the only thing I've changed since last time I've tested.

![image](https://user-images.githubusercontent.com/11890856/50954938-7b837580-14c0-11e9-8ef1-dfdb866a792f.png)

![image](https://user-ima

[2019-01-10 13:35] VaperWare commented on #48
Hi, I'm honestly not trying to be a pain, so with that said here's an example of what I'm referring to;
I first start with setting the date range like this -
$StartDate = '11/28/2018' ; $EndDate = ' 12/27/2018'
$StartTime = (get-date ((Get-Date $StartDate -Format o).Split("T")[0].ToString() + " 00:00:00")).ToUniversalTime()
$EndTime = (get-date ((Get-Date $EndDate -Format o).Split("T")[0].ToString

[2019-01-10 23:15] VaperWare opened #54 "Get-PartnerCustomerUsageSummary not accepting application credentials"
when I connect to the PartnerCenter using the following connection;

$appSecret = $AppKey | ConvertTo-SecureString -AsPlainText -Force
$credential = New-Object System.Management.Automation.PSCredential ($AppId, $appSecret)
## Service Principal connection
$oConnectionObject = Connect-PartnerCenter -Credential $credential -ServicePrincipal -TenantId $AuthTenantID

Then trying to use Get-PartnerCusto

[2019-01-11 04:58] isaiahwilliams commented on #54
Hi @VaperWare,

This command does not support service principal authentication. You will need to use one of the variations of the [Connect-PartnerCenter](https://docs.microsoft.com/en-us/powershell/module/partnercenter/connect-partnercenter) command that either takes user credentials or an access token to obtain the necessary credentials to perform this operation.

I would recommend that you revie

[2019-01-11 05:03] isaiahwilliams commented on #52
Hi @slavizh,

Thank you for providing that additional context. You are correct this is an issue caused by the use of the new authentication model. You can work around it by specifying the -UserId parameter when making this call. You will need to get the object identifier for a user from the partner that needs to be associated with the customer consent. I will see what we can do to make this behave

[2019-01-11 07:17] slavizh commented on #52
Yes. This is what I did. I actually provided the object ID of the app.

[2019-01-15 18:32] jackkur commented on #50
Hi @isaiahwilliams ,
The problem occurs only when there is no usage data yet for selected period. I modified my script to skip the date range starting on the billing day and instead pull that range a day later.

The error message has changed recently and it is more descriptive:
Get-PartnerCustomerSubscriptionUtilization: Microsoft.Store.PartnerCenter.PowerShell.Exceptions.PartnerPSException: 2000

[2019-01-21 14:19] stullith commented on #49
I am seeing the same issue with all customers on my CSP tenant. I can view the all details of the customer tenant in the portal but I'm unable to fetch the relationship status with the Get-PartnerCustomerRelationship command.

[2019-01-22 13:29] Agazoth opened #55 "Get-PartnerCustomerCompanyProfile output is blank"
the cmdlet returns this on all customerids:
Address     :
CompanyName :
Domain      :
Email       :
TenantId    :

[2019-01-22 14:41] isaiahwilliams commented on #54
Hi @VaperWare,

Please feel free to re-open this issue if you have any additional questions. I am going to close it because this ability is not supported using this type of authentication.

[2019-01-22 14:41] #54 closed

[2019-01-22 14:48] isaiahwilliams commented on #53
Hi @VaperWare,

There are a number of reasons this could happen. Just to confirm you are using the same UTC timestamps in both tests?

[2019-01-22 16:54] isaiahwilliams commented on #52
Hi @slavizh,

I wanted to provide a quick update. The required changes to address this issue have been made. Once the next version is released this issue will be resolved. I currently do not have a time line for when you can expect the next realize. Our hope is to have it ready in early February.

[2019-01-22 19:33] isaiahwilliams commented on #49
@itsChris, @cblackuk, and @stullith this is an issue with the Partner Center API, so I have reached out to the engineering team responsible for this feature. They are actively investigating the issue and I am hopeful that there will be information we can share this week. Since each of you are experiencing this issue I would like to encourage you to open a support ticket stating the request to get

[2019-01-23 06:53] slavizh commented on #52
@isaiahwilliams Thanks! I appreciate the update!

[2019-01-23 14:52] AleixPerez opened #56 "Download reconciliation file"
# Feature Request

I need to automate the billing process for all tenants in our CSP, but every month I have to download reconfile, filter it and resend to each Service Manager to put the markup.

For that I'm trying to automate the process, but I can't download the information that gives me the reconfile for the IUR subscriptions, for the tenants I don't have the problem, because I can get the in

[2019-01-23 17:31] VaperWare commented on #53
Isaiah, thanks for the reply.  Yes, the same code and same parameters are used in both scripts.  Here's the are the time formats.

$StartTime = (get-date ((Get-Date $StartDate -Format o).Split("T")[0].ToString() + " 00:00:00")).ToUniversalTime()

$EndTime = (get-date ((Get-Date $EndDate -Format o).Split("T")[0].ToString() + " 23:59:59")).ToUniversalTime()

[2019-01-24 09:05] cblackuk commented on #49
Thanks @isaiahwilliams I opened a support case as requested. Will keep you guys update on the progress.

[2019-01-24 17:36] corydwood opened #57 "Support MFA for App+User Authentication"
# Feature Request

**Is your feature request related to a problem? Please describe.**
When attempting to run the command below, I receive the error, **Object reference not set to an instance of an object.**

[code]

**Describe the solution you would like**
Instead of throwing this error, the interactive login prompt should be displayed asking me to enter my username and password, like it does when

[2019-01-25 18:25] flyboarder commented on #57
This is a major issue as MS is moving to forced MFA for partners. This module will not function once that change is enable globally.

[2019-01-26 03:19] isaiahwilliams commented on #57
Hi Matthew,

Thank you for bringing this issue to my attention. There a handful of updates coming to this process, that will simplify the entire process. You can use the command today to request the appropriate access and refresh token. You can find details at https://docs.microsoft.com/en-us/powershell/partnercenter/secure-app-model?view=partnercenterps-1.5

Isaiah Williams
______________________

[2019-01-27 16:21] isaiahwilliams commented on #49
Hi @itsChris, @cblackuk, and @stullith this command is going to be replaced in a future release. The underlying feature of the Partner Center API, that was being called is intended to retrieve a list of indirect resellers for the specified customer. If you are not an indirect provider and you try this operation, currently, the expceted outcome is the authorization failed error. I apologizes for th

[2019-01-27 16:21] #49 closed

[2019-01-28 08:47] cblackuk commented on #49
It was explained to me during my support request and troubleshooting, glad we finally got to the bottom of it. Thanks @isaiahwilliams for looking into it for us.

[2019-01-28 21:36] rajaprad opened #59 "Unable to Debug Connect-PartnerCenter cmdlet"
Am trying to debug the error which i receive for the below command using -debug flag. However there is no debug response and i get the same error response. This make is extremely difficult - impossible to get to the issue.

Connect-PartnerCenter -ApplicationId 0b292c96-5d35-45cc-966c- -Credential $credential -**debug**

Thanks,
Pradebban Raja

[2019-01-28 21:49] isaiahwilliams commented on #59
Hi @rajaprad,

Thank you for sharing this feedback with us. We are actively working on the next update and I will do my best to make sure this is incorporated. If you can share the output from

[code]

I might be able to help you troubleshoot what is happening.

[2019-01-29 03:59] isaiahwilliams commented on #55
Hi @Agazoth,

I have not been able to reproduce this issue. Can you confirm that this is still happening?

[2019-01-29 06:50] Agazoth commented on #55
This is still happening. I am using this authentication method:
$credential = Get-Credential
Connect-PartnerCenter -Credential $credential -ServicePrincipal -TenantId '<AppId>'

[2019-01-29 08:06] Agazoth commented on #55
When logging on with Connect-PartnerCenter -ApplicationId '<AppId>' however, it works.

[2019-01-31 22:34] RobBiddle opened #61 "The supplied role does not have the rights to perform the requested operation"
I'm getting errors with most of these cmdlets.
I've tried connecting multiple ways, e.g.:
[code]
OR this way
[code]
^ Both methods are giving me the same results.

**These cmdlets work**
[code]
(Returns all customers as expected)

[code]
(Returns all users for the customer)

[code]
(Returns the licenses for user in Customer Tenant)

**These cmdlets do not work**
[code]
I'm not sure what I'm doing

[2019-02-01 00:04] isaiahwilliams commented on #61
Hi @RobBiddle,

Thank you for sharing all of this information. The type of authentication you are using is known as app only. Unfortunately this type of authentication cannot be used with all the operations the Partner Center API supports today. So, to get around this you will need to utilize app + user authentication. Considering the upcoming new security requirements this type of authentication

[2019-02-01 00:11] isaiahwilliams commented on #55
Hi @Agazoth,

Thank you for providing that additional piece of information. To get the customer's company profile you need to authenticate using user credentials. There was a bug in the code that was preventing this error being returned to the console. This issue has been resolve by the changes made through PR #60.

Right now the plan is to release an updated version of the module in early Februar

[2019-02-01 17:04] jmeilleur1 opened #63 "New-PartnerCustomerOrder Addon Order throws "2000" error"
When placing a new order for an Addon to an existing subscription, the following error is thrown
"New-PartnerCustomerOrder : 2000 ParentSubscriptionId is not supported for this request."

## Steps to reproduce
New-PartnerCustomerOrder -CustomerId <customerid guid> -LineItems $lineItems

$LineItems content:
FriendlyName         : Office 365 Advanced Threat Protection
LineItemNumber       : 0
OfferI

[2019-02-01 17:46] RobBiddle commented on #61
I just tried this again, following those instructions exactly.

I used **Create-AzureADApplication.ps1** on that page to create a new Azure AD Application.  Then copy/pasted the commands, using the new AppID/Secret when prompted by the **Get-Credential** cmdlet, and used a Global Admin user (without MFA enabled) when prompted via the Modern Auth login, and I accepted the App consent dialog that fo

[2019-02-01 18:05] RobBiddle commented on #61
FYI - The MSOnline token based auth on [Partner Center PowerShell | Secure App Model ](https://docs.microsoft.com/powershell/partnercenter/secure-app-model )looks to be working fine.

After following those instructions I can view Subscription info for each tenant using **Get-MsolSubscription**

So it appears that my token auth is working.  However most of the **PartnerCenter** cmdlets are still th

[2019-02-01 21:00] RobBiddle commented on #61
FYI - I'm using the PSGallery version of this module (1.5.1812.1)

[2019-02-02 15:11] isaiahwilliams commented on #61
Hi @RobBiddle,

I believe what you are encountering is the expected behavior for customers with a type of advisor. Can you confirm that you have not established a reseller relationship with the customer in question?

[2019-02-02 15:16] isaiahwilliams commented on #57
Hi @corydwood and @flyboarder,

You can use the New-PartnerAccess token command to complete the operations defined in the secure application model. There was an issue with running the command using the syntax that you shared. That issue will be resolved with the next version. For more information, see https://docs.microsoft.com/en-us/powershell/partnercenter/install?view=partnercenterps-1.5

[2019-02-02 15:16] #57 closed

[2019-02-02 15:19] isaiahwilliams commented on #52
Hi @slavizh,

The plan is to release a new version this next week that will resolve this issue. I have verified that this issue has been resolved. Please let me know if you discover any other issues.

[2019-02-02 15:19] #52 closed

[2019-02-02 15:21] #55 closed, assigned to nobody

[2019-02-02 19:31] rajaprad commented on #59
Am surprised how can this issue be closed, is the debug flag giving out intended results? Which release, where is the commit details? Please help me understand why this bug is closed?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Isaiah Williams <notifications@github.com>
Sent: Saturday, February 2, 2019 10:23:33 AM
To: Microsoft/Partner-Center-PowerShell

[2019-02-04 18:55] RobBiddle commented on #61
I know we don't resell O365 licensing.  My Employer is a Non-Profit and so are our Customers.  Since we don't mark-up the Non-Profit pricing, all licenses are purchased from within the Customer Tenant.

I'd definitely like clarification on the limits of the Partner Center API.  Resorting to non-delegated accounts would be far from ideal, both in terms of security and ease of automation.

If I need

[2019-02-05 05:56] isaiahwilliams commented on #59
Hi @rajaprad,

My apologizes about this, but I would like to share that with the update that was released today debug statements are now included specifically for the `Connect-PartnerCenter` command. Overtime you will see us additional debug statements to help troubleshoot any issue that you might encounter. I would like to encourage you to update to the latest version and try your operation again

[2019-02-05 06:13] rajaprad commented on #59
Thats awesome, i would give it  try! Thanks

________________________________
From: Isaiah Williams <notifications@github.com>
Sent: Tuesday, February 5, 2019 12:56 AM
To: Microsoft/Partner-Center-PowerShell
Cc: Pradebban Raja; Mention
Subject: Re: [Microsoft/Partner-Center-PowerShell] Unable to Debug Connect-PartnerCenter cmdlet (#59)

Hi @rajaprad<https://github.com/rajaprad>,

My apologizes abo

[2019-02-05 06:37] Agazoth opened #67 "Connect-PartnerCenter help should be updated to current definition"
# Steps to reproduce
Get-Help Connect-PartnerCenter -Examples

NAME
    Connect-PartnerCenter

SYNOPSIS
    Connects to Partner Center with an authenticated account for use with cmdlet requests.

    -------------------------- Example 1 --------------------------

    PS C:\> Connect-PartnerCenter -ApplicationId '<AppId>'

    Connect to Partner Center using the specified application identifier du

[2019-02-05 09:10] Agazoth opened #68 "Connect-PartnerCenter -AccessToken not working in 1.5.1902.1"
# Steps to reproduce
[code]
## Expected behavior

Should connect to PartnerCenter

## Actual behavior

It throws an error (the -AccessToken parameter is not in the cmdlet)

## Diagnostic logs

Please supply commands to produce. Then I'd be glad to upload.

## Environment
[code]

Tested in:
[code]
Same result.

[2019-02-06 15:35] isaiahwilliams commented on #68
Hi @Agazoth,

We just merged an update that will address issues #67 and #68. The plan is to release version 1.5.1902.2 later today. This update will contain a fix for both issues.

[2019-02-06 17:47] Agazoth commented on #68
Excellent. Thanks!

[2019-02-06 21:48] isaiahwilliams commented on #67
Hi @Agazoth,

Thank you for bringing this to my attention. The necessary changes have been made with the release of version 1.5.1902.2. Please let us know if you find any other issues.

[2019-02-06 21:48] #67 closed

[2019-02-06 21:50] isaiahwilliams commented on #68
Hi @Agazoth,

We have just released version 1.5.1902.2 which includes a fix for this issue. Please let us know if you discover any other issues.

[2019-02-06 21:50] #68 closed

[2019-02-07 07:06] Agazoth opened #70 "PartnerCenter.NetCore and Az.KeyVault cannot coexist"
# Steps to reproduce

[code]

[code]

## Expected behavior

In the first scenario a refresh token should be issued. The module should be imported automatically. Running Import-Module PartnerCenter.NetCore results in the same error as in the example.

If PartnerCenter.NetCore is imported first, no Az modules can be imported and result in the same error at mentioned above.

## Actual behavior

Error

[2019-02-08 04:52] isaiahwilliams commented on #70
Hi @Agazoth,

The root cause for this issue is a version conflict for the Microsoft.Rest.ClientRuntime library. Through my testing if we make it match the version used by the Azure PowerShell module then there is no issue using either command. Before we deploy an update to address this issue, I would like to perform some additional testing to ensure there are not any other items that need to be ad

[2019-02-11 18:08] isaiahwilliams commented on #70
Hi @Agazoth,

We have released version 1.5.1902.3 for both the PartnerCenter and PartnerCenter.NetCore modules. Once you update to the latest version, this will work as excepted. Please let us know if you encounter any other issues.

[2019-02-11 18:08] #70 closed

[2019-02-11 20:42] adrianwells opened #75 "Get-PartnerIndirectReseller : 1002 Authorization Failed"
Maybe related to #49?

# Steps to reproduce

Issue the command `Get-Module -Name PartnerCenter`

Using this version:
[code]

## Expected behavior

Expect to see a list of indirect resellers

## Actual behavior

Error message
[code]

## Environment

Windows 10
PowerShell 5.1

[2019-02-11 20:58] isaiahwilliams commented on #75
Hi @adrianwells,

Just to confirm you are an indirect provider correct?

[2019-02-11 21:00] adrianwells commented on #75
@isaiahwilliams , no. Sorry was hoping was curious to see what this reports. Looking for a cmdlet that reports a customer relationship, I understand the cmdlets changed to help clarify.

[2019-02-11 21:02] isaiahwilliams commented on #75
Hi @adrianwells,

That particular command will only work for indirect providers. Unfortunately the error returned from the Partner Center API is a bit confusing. Would you mind share what specific information you are seeking?

[2019-02-11 21:06] adrianwells commented on #75
@isaiahwilliams thanks for the quick reply. Might there be a cmdlet to report DPOR and DAP information for customers that are configured within MS Partner Center? Maybe something like the cmdlet Get-PartnerCustomerRelationship may have suggested, know it was removed but it'd neat info to have.

[2019-02-11 21:07] adrianwells opened #76 "Get-PartnerCustomerUsageSummary : 3000 Customer does not have usage data."
# Steps to reproduce

`Get-PartnerCustomerUsageSummary -CustomerId $CustomerID`

## Expected behavior

Provide Usage Summary, not sure what this should look like as testing so far as produced the same results for different test customers accounts

## Actual behavior

[code]

## Environment

Windows 10
PowerShell 5.1
PartnerCenter 1.5.1902.3

[2019-02-11 21:10] isaiahwilliams commented on #75
Hi @adrianwells,

To my knowledge that is not a direct query we can make using the Partner Center API to return this information. You can get run the following

[code]

This will give you some insight into where the relationship with that customer was established using DAP or the reseller relationship. I hope that this helps.

[2019-02-11 21:13] isaiahwilliams commented on #76
Hi @adrianwells,

The following is a sample response from this command

[code]

With respect to the error you received, does the customer in question have any subscriptions?

[2019-02-11 21:47] flyboarder commented on #57
@isaiahwilliams I confirmed that while I am able to generate an access/refresh token - neither will work when authenticating to the partner center API

[2019-02-11 21:55] isaiahwilliams commented on #57
@flyboarder,

Are you calling the Partner Center API directly or are you using the Partner Center PowerShell module?

[2019-02-11 22:08] flyboarder commented on #57
@isaiahwilliams Both, I can run the Connect-PartnerCenter, however every response from other funtions returns "unauthorized", unable to authenticate using the tokens via rest api on https://apidocs.microsoft.com/services/partnercenterwebhooks#/RegistrationEvents/RegistrationEvents_Get

[2019-02-11 22:12] isaiahwilliams commented on #57
Hi @flyboarder,

Just to confirm you are using the following to generate the refresh token?

https://docs.microsoft.com/en-us/powershell/partnercenter/secure-app-model?view=partnercenterps-1.5

[2019-02-11 22:14] flyboarder commented on #57
@isaiahwilliams yes I am able to generate a token successfully using that guide. However the token fails to function.

[2019-02-11 22:18] isaiahwilliams commented on #57
Hi @flyboarder,

Just to confirm you are using the access token value when connecting correct? Also, what version of the Partner Center PowerShell module are you using?

[2019-02-11 23:54] flyboarder commented on #57
@isaiahwilliams Yes $token.AccessToken after generating token with the script. Module Versions 1.5.1902.2/1.5.1902.3 I tried updating the module today to see if this would fix the issue. Still not able to use any functions after authenticating.

[code]

[2019-02-12 00:16] isaiahwilliams commented on #57
Hi @flyboarder,

Thank you for sharing this additional information. It appears that you are using an access token that was generated using app only authentication. If the application is not registered in Partner Center you can see this behavior. Can you verify the web application you are using is registered in Partner Center?

Also, I wanted to ask when you generate the access token did you use us

[2019-02-12 07:18] Agazoth opened #77 "Package missing"
# Steps to reproduce

When running Connect-PartnerCenter on a vanilla installation of Powershell Core, the following error occurs:
[code]

## Expected behavior
Should load the module and run the command

If the package is not installed, an error should state, that the module could not be loaded due to missing requirements.

## Actual behavior

Throws an error

## Diagnostic logs

Will be shared if

[2019-02-12 14:01] adrianwells commented on #76
@isaiahwilliams thank you for quick reply and example. Yes, the test customers have subscriptions.

[2019-02-12 14:20] adrianwells commented on #75
@isaiahwilliams - thank you for the reply and information. That is helpful. I will close this issue.

[2019-02-12 14:20] #75 closed

[2019-02-12 14:36] slavizh opened #78 "Cannot load the module in PS Core"
# Steps to reproduce

[code]

## Expected behavior

Successful import

## Actual behavior

error

## Diagnostic logs

provided

## Environment

[code]

[2019-02-12 14:47] isaiahwilliams commented on #78
You want to install the PartnerCenter.NetCore module when using PowerShell version 6. Can you try that module and let us know if you have any issues?

Isaiah Williams
________________________________
From: Stanislav Zhelyazkov <notifications@github.com>
Sent: Tuesday, February 12, 2019 8:36:27 AM
To: Microsoft/Partner-Center-PowerShell
Cc: Subscribed
Subject: [Microsoft/Partner-Center-PowerShell]

[2019-02-12 14:57] slavizh opened #79 "'ServicePrincipal' parameter missing from New-PartnerAccessToken"
# Steps to reproduce

I am trying to execute the following commands to get token:

[code]
but I get error:

## Expected behavior

Getting token succesfully

## Actual behavior

error. Previous version of the module didn't had error with this command. You can also see document updated:
https://github.com/MicrosoftDocs/partner-center-docs-powershell/commit/e06a4a8dd3373884b32eab28a4783931592a8966#di

[2019-02-12 15:01] slavizh commented on #79
Also now when you try to execute this:

[code]

Tenant ID is required. These are two breaking changes in a single release.

[2019-02-12 15:38] slavizh commented on #78
@isaiahwilliams Ok. I didn't know that there is separate module. I thought it was the same situation like Az where you can use single module. My mistake. I will close the issue.

[2019-02-12 15:38] #78 closed

[2019-02-12 16:33] isaiahwilliams commented on #79
Hi @slavizh,

My apologizes about the breaking changes. Going forward we will start handling these changes like the Azure PowerShell module. That way you will receive a warning before the breaking changes are completley implemented. The work required for this change should be completed by early next week at the leasts. Currently there are no immediate plans to introduce any other breaking changes.

[2019-02-12 16:33] #79 closed

[2019-02-13 15:47] KjeldAntjon opened #81 "Unable to to use set-partnercustomersubscription, PartnerPSException"
# Steps to reproduce

Connect-partnercenter with accesstoken
Everything fails for set-partnercustomersubscription, including the example at https://docs.microsoft.com/en-us/powershell/module/partnercenter/set-partnercustomersubscription?view=partnercenterps-1.5
->
Set-ParnterCustomerSubscription -AutoRenew $false -CustomerId xxx -Subscription xxx (ofcourse with valid custID and SubID.

We're mostl

[2019-02-13 16:58] isaiahwilliams commented on #81
Hi @KjeldAntjon,

This issue will resolved when we release version 1.5.1902.4. Right now our goal is to have this version available in the next day or two.

[2019-02-13 17:26] KjeldAntjon commented on #81
Thanks a lot for the quick reply @isaiahwilliams
Looking forward to it!

[2019-02-14 14:42] isaiahwilliams commented on #77
Hi @Agazoth,

We will have this issue resolved with the release of 1.5.1902.4. Our hope is to have this version available before the end of the week. Please let us know if you have any other issues.

[2019-02-14 19:24] isaiahwilliams commented on #81
Hi @KjeldAntjon,

We have released an update that correct this issue. Please update to the latest version, and the problem will be resolved.

[2019-02-14 19:24] #81 closed

[2019-02-14 19:25] isaiahwilliams commented on #77
Hi @Agazoth,

We just released an update that resolves this issue. Please let us know if you have any other issues.

[2019-02-14 19:25] #77 closed

[2019-02-15 09:04] Crazyabout opened #85 "Api has more info than Powershell Module"
# Feature Request

**Is your feature request related to a problem? Please describe.**
I want to have more information about the usage than just the id.
In the api respond body in the example I see the resource URi as example. But I can't find any way to get this value per subscription per customer via the Powershell Module

**Describe the solution you would like**
I want the name of my resource be

[2019-02-15 09:13] Crazyabout commented on #85
The thing i need for my reports is the Resource(vm , storage, ...) name and atm with the powershell module i only got the resourceid. Which is not a good visual on a report. So if anyone knows another way to get the name somehow (the name provided with the get-SubscriptionUtilization is not the name of the resource itself, neither is the name of the command Get-PartnerCustomerSubscriptionUsage)

[2019-02-15 13:25] Crazyabout commented on #68
@Agazoth Can i Ask how you get it working with connecting to the partner center through the "Connect-Partnercenter" without providing credentials every time you run the script.
My goal atm is to get a script where i get usage data and that will run monthly without user interaction every time when the script runs.
So a get-credential is not exactly efficient. And the accessToken expires after one h

[2019-02-15 13:39] Agazoth commented on #68
Hi @Crazyabout
I save the RefreshToken in an Azure Key Vault and use a Managed Service Instance to retrieve the key. Guess you can save the RefreshToken in a file somewhere, but that is of course up to your security requirements.

I use the Refreshtoken to generate a new token with by running this command:
New-PartnerAccessToken -RefreshToken $refreshToken -Resource https://api.partnercenter.micro

[2019-02-15 13:47] Crazyabout commented on #68
ATM i try the folowing but still get issues at the get credentials (it still pops up to ask me my credential) and even if i provide a valid credential. My connect center command fails by asking for application id , expired on value. even if that's not part of the command parameters in the docs .
Can't seem to see what i am doing wrong. I guess the credentials part is not at his best and the way i

[2019-02-15 14:31] Crazyabout commented on #68
How long is the refreshtoken available.
I tried your solution but I have some questions about the expire date about it.
I save the expiry date and the refresh token from the token in a txt file (for testing afterwords this will get like you said in a keyvault for a more secure env)

`$Newtoken = New-PartnerAccessToken -RefreshToken $refreshToken -Resource https://api.partnercenter.microsoft.com -A

[2019-02-15 15:22] Agazoth commented on #68
I have been using the same refreshtoken for 2 weeks now. I have no idea how long it is going to be valid :-)

I think you should update to the latest version of the module. The AccessTokenExpiresOn parameter is deprecated on the version I'm on:  1.5.1902.4

[2019-02-15 15:23] Crazyabout commented on #68
@Agazoth
Already tried that with the Command
`Update-Module -Name PartnerCenter -Force`

[2019-02-15 15:28] Crazyabout commented on #68
@Agazoth
![image](https://user-images.githubusercontent.com/45975657/52866236-92139100-313e-11e9-844e-f0259a552fdb.png)
![image](https://user-images.githubusercontent.com/45975657/52866306-aa83ab80-313e-11e9-9c63-1e44ec2f2a6f.png)

Strange , I tried to update and the module tells me that i already have the latest module 1.5.1902.4

[2019-02-15 15:35] Crazyabout commented on #68
I deleted the AccessTokenExpiresOn parameter and now it didn't give any error for it. Don't know why it doesn't fail and an hour ago It gave one.
Always a pleasure when it works and you don't know why. Thnx !!!!! @Agazoth

[2019-02-15 15:53] Crazyabout opened #86 "End Time provided but can't be seem by api"
I tried folowing rest call exactly like in the microsoft docs but the error says that i don't provided an end time. The end time is provided and is a valid format. Does anyone see if this is my fault , or a bug in the rest api ?
![image](https://user-images.githubusercontent.com/45975657/52867871-364b0700-3142-11e9-9843-fca0648669ab.png)

[2019-02-17 04:42] isaiahwilliams commented on #85
Hi @Crazyabout,

The `Get-PartnerCustomerSubscriptionUsage` command will return a summary of the usage. To get the information you are seeking you will want to invoke the [Get-PartnerCustomerSubscriptionUtilization](https://docs.microsoft.com/powershell/module/partnercenter/get-partnercustomersubscriptionutilization) command. This will return all of the information you need.

[2019-02-17 04:47] isaiahwilliams commented on #86
Hi @Crazyabout,

The reason you are encountering this error is that the address should look similar to

https://api.partnercenter.microsoft.com/v1/customers/E499C962-9218-4DBA-8B83-8ADC94F47B9F/subscriptions/FC8F8908-F918-4406-AF13-D5BC0FE41865/utilizations/azure?start_time=2017-07-02T00:00:00-08:00&end_time=2017-08-02T00:00:00-08:00

When you are making this request with the Partner Center PowerS

[2019-02-17 04:47] #86 closed

[2019-02-17 04:51] isaiahwilliams commented on #56
Hi @AleixPerez,

The Partner Center API does not currently provide the ability to download the reconiliation file. However, you can utilize the [Get-PartnerInvoiceLineItem](https://docs.microsoft.com/powershell/module/PartnerCenter/Get-PartnerInvoiceLineItem) command and pipe the results through [Export-Csv](https://docs.microsoft.com/powershell/module/microsoft.powershell.utility/export-csv) to g

[2019-02-18 08:20] Crazyabout commented on #68
@Agazoth  @isaiahwilliams
Is there any documentation or knowledge on how long the refresh token will work. So that i can know when to use a new one. For security reasons it may be good to change this once in a while. But I want to know what the default expiry date is. OR is that the entire cause of refresh token that this never fails ?

[2019-02-18 08:22] Crazyabout commented on #85
YES. Was this changed recently because the same command did not gave me any info a couple of weeks ago.
It can be that i got the commands mixed up :D they are so look a like :D

[2019-02-18 15:06] #85 closed

[2019-02-18 15:10] Crazyabout opened #88 "Create a resource uri value inside the command Get-PartnerCustomerSubscriptionUsage"
I'm trying to create a report for my customers usage and cost.
This can be all done with the command Get-PartnerCustomerSubscriptionUsage
Only the resourceuri (where i retract the resource name that is visible on the portal) can't be retrieved from this command.

The only command that can retrieve the name is
`Get-PartnerCustomerSubscriptionUtilization -CustomerId $customerId -SubscriptionId $subs

[2019-02-18 15:49] Crazyabout commented on #88
When I try to get the ResourceUri , based on the id from my usage command
`  echo $usage[$z].ResourceId
                        if ($usage[$z].ResourceId -eq $array[$z].ResourceID){

                          echo $array[$z].ResourceName
                        }`

I don't seem to get it working :(

[2019-02-19 08:27] AleixPerez commented on #56
Hi @isaiahwilliams,

Yes, I think is a good approach, I guess that this cmdlet not export the iur data, but I could checked that its exported also.

Thank you

[2019-02-19 18:29] isaiahwilliams commented on #56
When you say IUR are you talking about Azure Partner Shared Services? Or the benefits you get from the MPN program?

Isaiah Williams
________________________________
From: AleixPerez <notifications@github.com>
Sent: Tuesday, February 19, 2019 3:27:59 AM
To: Microsoft/Partner-Center-PowerShell
Cc: Isaiah Williams; Mention
Subject: Re: [Microsoft/Partner-Center-PowerShell] Download reconciliation fi

[2019-02-20 04:01] isaiahwilliams commented on #63
Hi @jmeilleur1,

This issue will be resolved with the release of version 1.5.1092.5, our hope is to have it available before the end of the week. Thank you for working with us as we address these issues.

[2019-02-21 12:21] Crazyabout commented on #88
@isaiahwilliams
Do you have any idea how i can retrieve the resource name witht the Get-PartnerCustomerSubscriptionUsage.

Or is there a way where you can add the total cost to the Get-PartnerCustomerSubscriptionUtilization api or the resource uri to the Get-PartnerCustomerSubscriptionUsage.

The resource name provided over there is not the name of the vm or the storage ,.....

[2019-02-27 14:55] isaiahwilliams commented on #63
Hi @jmeilleur1,

We have released version 1.5.1902.5 which includes a fix for this issue. Check out [New-PartnerCustomerOrder](https://docs.microsoft.com/powershell/module/PartnerCenter/New-PartnerCustomerOrder) for an updated example on how to accomplish this.

[2019-02-27 14:55] #63 closed

[2019-02-27 15:03] isaiahwilliams commented on #68
Hi @Crazyabout,

See [Active Directory configurable token lifetimes](https://docs.microsoft.com/azure/active-directory/develop/active-directory-configurable-token-lifetimes) for details regarding how long the refresh token is valid. Basically if you generate the refresh token using an Azure AD with a type of web/API the refresh token will be valid until it is revoked. That is if you use once every

[2019-02-27 15:08] isaiahwilliams commented on #88
Hi @Crazyabout,

The resource name is not returned from the API when invoking the Get-PartnerCustomerSubscriptionUsage command. So, unfortunately there is not a way to get the resource name with that command. You will need to use the Get-PartnerCustomerSubscriptionUtilization and Get-PartnerAzureRateCard commands to calculate the price. I would like to encourage you to watch [Cloud Solution Provid

[2019-02-28 12:11] sirovermark opened #90 "Add-PartnerCustomerUserRoleMember doesn't work"
# Steps to reproduce

[code]

## Actual behavior
It throws an error because CustomerId even it's ok.

## Diagnostic logs

## Environment

[code]

![image](https://user-images.githubusercontent.com/30412009/53565588-27108400-3b5a-11e9-8e33-0ec68f417ba0.png)

[2019-02-28 13:34] Crazyabout commented on #88
@isaiahwilliams the problem i have at the moment is that I called the
Get-PartnerCustomerSubscriptionUsage and the
Get-PartnerCustomerSubscriptionUtilization command for the same custumor and i saw that Get-PartnerCustomerSubscriptionUsage returned data but  Get-PartnerCustomerSubscriptionUtilization don't .
So that approach will not work :(

[2019-03-01 06:21] isaiahwilliams commented on #90
Hi @sirovermark,

I have identified what is causing this issue and it will be resolved in the next release. We are targeting the end of next week for the next release. Please let us know if you find any other issues.

[2019-03-01 15:17] sirovermark commented on #90
Hi @isaiahwilliams,

Great to know. Thank you!

[2019-03-04 07:45] boecskoer opened #91 "Get-PartnerCustomer -Domain returns InternalServerError"
# Steps to reproduce

1. login with access token
`Connect-PartnerCenter -AccessToken $AccessToken -ApplicationId $AppId -TenantId $TenantId`
2. query customer by domain name
`Get-PartnerCustomer -Domain "xxxxx.onmicrosoft.com"`

`Ge-PartnerCustomer -CustomerId<GUID>` works as expected

## Expected behavior

Should return customer

## Actual behavior

[code]

## Environment

PS 5.1.16299.820
Partne

[2019-03-04 10:35] qbihay opened #92 "Get-PartnerCustomerSubscription issue"
Hello,

I use the authentication Service Principal.
when I run that
$AllCustomers = Get-PartnerCustomer
$AzureSubscriptions = @()
ForEach ($Customer in $AllCustomers)
	{
	$AzureSubscriptions = Get-PartnerCustomerSubscription -CustomerId $Customer.Customerid
        }
I had randomly this issue :
Get-PartnerCustomerSubscription : A task was canceled.
At line:4 char:31
+ ... criptions = Get-PartnerCu

[2019-03-05 00:06] aconn21 opened #93 "New-PartnerCustomerOrder throws: 0 The service has encountered an unknown error"
# Steps to reproduce

Full steps I've used to produce the issue are:

`
#Accept CSP agreement on behalf of customer
    $agreement = Get-PartnerAgreementDetail | Where-Object {$_.AgreementType -eq 'MicrosoftCloudAgreement'} | Select-Object -First 1
    New-PartnerCustomerAgreement -TemplateId $agreement.TemplateId -AgreementType MicrosoftCloudAgreement -CustomerId $newCustomer.Id -ContactEmail 'so

[2019-03-07 16:59] isaiahwilliams commented on #90
Hi @sirovermark,

The required work to address this issue has been completed. Right now the plan is to release a new version of the module on March 15th. Once that is done, you will be able to update the module and everything will function as expected. Please let us know if you discover any other issues. We greatly appreciate you reporting this!

[2019-03-07 17:01] isaiahwilliams commented on #91
Hi @boecskoer,

We are actively investigating this issue. It appears to be caused by an underlying issue with the Partner Center API. If you have not already, can you open a support ticket through Partner Center. I will keep you posted on what we discover.

[2019-03-08 20:25] isaiahwilliams commented on #91
Hi @boecskoer,

I have identified the root cause for this issue. The necessary changes to the module have been made. Right now we are planning to release an update on 3/15/2019 that will include a fix for this issue. Please let us know if you find any other issues.

[2019-03-10 16:21] isaiahwilliams commented on #93
Hi @aconn21,

When you are populating the line item you need to use `$offer.OfferId` instead of `$offer.id`. Also, since you are creating a new customer using the `New-PartnerCustomer` command, your call to create the order should use $newCustomer.CustomerId` instead of `$newCustomer.Id`

[code]

[2019-03-10 16:39] isaiahwilliams commented on #76
Hi @adrianwells,

You will get that error if the customer does not have an Azure subscription. If the customer has an Azure subscription and you are receiving this error, then I would like to encourage you to open a support ticket through Partner Center. Our support organization will be able to help you determine why this is happening if the customer has an Azure subscription.

[2019-03-11 07:47] boecskoer commented on #91
Hi @isaiahwilliams,

thank you for the update. As the issue was already found and will be fixed in the upcoming release, do you still require the mentioned support ticket through Partner Center?

Thanks

[2019-03-11 10:48] isaiahwilliams commented on #91
Hi Thomas,

You do not have to create a service ticket. Once the release is available you will be able to update and everything will work. Thank you for letting us know this was happening

Isaiah Williams
________________________________
From: Thomas Böcskör <notifications@github.com>
Sent: Monday, March 11, 2019 2:47:20 AM
To: Microsoft/Partner-Center-PowerShell
Cc: Isaiah Williams; Mention
Subje

[2019-03-12 15:03] #92 closed

[2019-03-13 07:32] qbihay opened #98 "Request the productList with the price"
# Feature Request

**Is your feature request related to a problem? Please describe.**
Can you explain me how can I get the price list (Office 365 / Azure / OneTime) with the powershell command.

**Describe the solution you would like**
Get-PartnerProductSKU -CountryCode "BE" -ProductID $ID
Return all current stuff + price

**Describe alternatives you have considered**
Connect on the partnerCenter

[2019-03-14 10:13] Flodu31 opened #100 "Error New-PartnerAccessToken"
Hello,
I've the following error, on PowerShell Core 6.1.3, when I do a New-PartnerAccessToken:

WARNING: To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code CGU86NNCU to authenticate.
New-PartnerAccessToken : AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.
Trace ID: 3c4b1f54-8923-42dc-ad02-

[2019-03-14 16:48] slavizh commented on #100
Can confirm the same. Works fine on PS 5.1 and PartnerCenter module.

[2019-03-15 03:40] isaiahwilliams commented on #76
Please feel free to re-open this issue if you have any further questions.

[2019-03-15 03:40] #76 closed

[2019-03-20 14:10] bgriffeth opened #104 "Get-PartnerInvoice Returns error"
# Steps to reproduce

Connect via CSP Partner method
Execute Get-PartnerInvoice method, filtered or not

## Expected behavior

Returns array of Invoice type

## Actual behavior

Error:

[code]

[2019-03-20 14:16] isaiahwilliams commented on #104
Hi @bgriffeth,

What would you be able to share the output from `Get-Module PartnerCenter`?

[2019-03-20 14:22] bgriffeth commented on #104
[code]

[2019-03-20 20:24] Flodu31 commented on #100
Up, can we have an update from Microsoft please? Thanks

[2019-03-20 20:49] bgriffeth commented on #104
Update - It also happens if I don't connect via CSP method and if I just run Connect-PartnerCenter without parameters and run Get-PartnerInvoice:
[code]
(it prompts for credentials here)
[code]

[2019-03-21 02:21] aconn21 commented on #104
I am also getting the same issue. Same version as bgriffeth. Adding -debug to the command does not reveal any further detail about the error.

I was able to run this yesterday morning around 10am (+10 AEST) however since yesterday afternoon its been an issue. So either Microsoft has updated something and the module needs an update or something is wrong on Microsoft's end.

[2019-03-21 02:26] isaiahwilliams commented on #104
Hi @bgriffeth and @aconn21,

There are some updates happening this week, but unfortunately I have not been able to reproduce the issue. Would one of you mind sharing a Fiddler trace for this operation? Have that we should be able to determine what is happening and how best to help.

[2019-03-21 02:52] aconn21 commented on #93
thanks, have corrected my script.

[2019-03-21 04:34] aconn21 commented on #104
It's working again now. So sounds like something was done on Microsoft's end.

[2019-03-21 07:57] Agazoth opened #105 "New-PartnerAccessToken (or any other cmdlets of the module) are recognized"
# Steps to reproduce

Install the module on Powershell Core 6.2.0-preview.3
Install the module version 1.5.1902.5
run cmdlet
[code]

## Expected behavior

Should output
[code]

## Diagnostic logs

Will be shared if needed

## Environment

[code]

This started after installation of:
[code]

The dll is locking somehow:
![image](https://user-images.githubusercontent.com/15127301/54739127-4463cb80-4bb

[2019-03-21 11:46] isaiahwilliams commented on #93
I am glad everything is working now. Please let us know if you have any other issues.

[2019-03-21 11:46] #93 closed

[2019-03-21 15:48] bgriffeth commented on #104
Confirmed.  This is working again this morning.

[2019-03-21 15:48] #104 closed

[2019-03-23 00:09] isaiahwilliams commented on #91
Hi @boecskoer,

We just released version 1.5.1903.5 which includes a fix for this issue. Please update and let us know if you have any issues.

[2019-03-23 00:09] #91 closed

[2019-03-23 01:48] isaiahwilliams commented on #90
Hi @sirovermar,

We just released version 1.5.1903.5 which includes a fix for this issue. Please upgrade and let us know if you have any issues.

[2019-03-23 01:48] #90 closed

[2019-03-23 13:57] isaiahwilliams commented on #88
Hi @Crazyabout,

If you are not getting data back with the [Get-PartnerCustomerSubscriptionUtilization](https://docs.microsoft.com/en-us/powershell/module/partnercenter/get-partnercustomersubscriptionutilization) command, then I would recommend double checking the start and end date parameters. That command will return the utilization records as they are emitted into the system.

Currently we do n

[2019-03-23 15:01] isaiahwilliams commented on #100
Hi @Flodu31,

Thank you for bringing this to our attention. I will work on getting the documentation update this week. With respect to the error you are encountering, it is being caused because the device code flow is being leveraged with the PartnerCenter.NetCore module. That flow does not support Azure AD web applications, and we currently do not have a way to interactively handle the login with

[2019-03-23 15:12] isaiahwilliams commented on #48
Hi @VaperWare,

This could be happening for a number of reasons. In most circumstances this has to deal with how the billing generates the invoice. [Get a customer's utilization records for Azure](https://docs.microsoft.com/en-us/partner-center/develop/get-a-customer-s-utilization-record-for-azure) covers this in detail. Based on my experince when you are performing these calculations you will not

[2019-03-23 15:12] #48 closed

[2019-03-23 15:16] isaiahwilliams commented on #56
Hi @AleixPerez,

Please let us know if you have any additional questions.

[2019-03-23 15:16] #56 closed

[2019-03-23 15:26] isaiahwilliams commented on #61
Hi @RobBiddle,

Thank you for sharing this additional information. I will share this feedback with the team behind the API. The command you are attempting to execute will require that you have a reseller relationship that provides deleagated admin privileges over the customer. This is required becuase this operation needs those privilieges to access that information. My recommendation would be to

[2019-03-23 15:26] #61 closed

[2019-03-23 15:29] isaiahwilliams commented on #105
Hi @Agazoth,

If the problem presist after restarting I would recommend updating to the release candidate for PowerShell 6.2opening an issue using the [PowerShell issue tracker](https://github.com/PowerShell/PowerShell/issues).

[2019-03-23 15:35] isaiahwilliams commented on #53
Hi @VaperWare,

The results should match when performing this type of operation. If your end date is a time in the future, then there is a possiblity you will find more records each time the query is invovked. Also, there is a chance that utilization records might be late. So, you are finding more because the late records are being emitted. If you are still experincing this issue with a past perio

[2019-03-23 15:35] #53 closed

[2019-03-23 15:52] isaiahwilliams commented on #98
Hi @qbihay,

Currently the only way to get pricing for lincesed based and one time purchases is from the published price list. There is not an API that provides this information. This is a frequently requested feature that the team behind the Partner Center API receives. It would be good to share this request in the [Partner Center API and SDK](https://www.yammer.com/cloudpartnercommunity/#/thread

[2019-03-25 09:12] sirovermark commented on #90
Thanks @isaiahwilliams for the effort!

[2019-03-25 12:05] KlausPeterRiemer opened #107 "Error while trying to get a list of products with Get-PartnerProduct"
# Steps to reproduce

Execute _Get-PartnerProduct_ with either _CountryCode_ and _Catalog_ or _CountryCode_, _Catalog_ and _Segment_ as parameter.
Example:
`Get-PartnerProduct -CountryCode 'DE' -Catalog 'OnlineServices'`
`Get-PartnerProduct -CountryCode 'DE' -Catalog 'OnlineServices' -Segment 'commercial'`

# Expected behavior

A list of products for the parameters specified.
Additional Info: When

[2019-03-25 12:52] johandehaan commented on #98
Hi @isaiahwilliams,

I saw you added https://github.com/Microsoft/Partner-Center-PowerShell/blob/master/src/PartnerCenter/Models/Orders/Pricing.cs to the repository. When does this return any data? I tried it on my own CustomerOrders, but it did not return anything:

`
PS C:\> $CustomerOrder = Get-PartnerCustomerOrder -CustomerId ***** -IncludePrice -OrderId *****
PS C:\> $CustomerOrder.LineItems[

[2019-03-25 17:45] isaiahwilliams commented on #107
Hi @KlausPeterRiemer,

Thank you for bringing this to our attention. The required code change have been made and are being tested right now. Our hope is to release a minor update today, to address this. Please let us know if you have any other issues.

[2019-03-25 20:43] isaiahwilliams commented on #107
Hi @KlausLoeffelmann,

Version 1.5.1903.6 has been released, which includes a fix for this issue. Please update and let us know if you have any other issues.

[2019-03-25 20:43] #107 closed

[2019-03-26 07:25] KlausPeterRiemer commented on #107
Hi @isaiahwilliams,

thanks for the fast deployment of a fix, the Get-PartnerProducts cmdlet works as expected now.  No other issues at the moment ...

[2019-04-04 19:22] isaiahwilliams opened #113 "Long running operations"
# Steps to reproduce

When executing long running request the access token is not being refreshed. The following is an example of one such request

[code]

## Expected behavior

The module should automatically refresh the access token when possible.

## Actual behavior

[code]
## Environment

[2019-04-05 20:04] kevinbasoftcat opened #115 "Set-PartnerCustomerSubscription -AutoRenew does not change the AutoRenew field"
# Steps to reproduce

Connected to Partner Center using the Secure Application Model
https://docs.microsoft.com/en-gb/powershell/partnercenter/secure-app-model?view=partnercenterps-1.5

Ran the Set-PartnerCustomerSubscripttion -AutoRenew $false command as per the article
https://docs.microsoft.com/en-us/powershell/module/partnercenter/set-partnercustomersubscription?view=partnercenterps-1.5

The c

[2019-04-10 15:52] isaiahwilliams commented on #113
This has been resolved with the introduction of the cancel retry handler.

[2019-04-10 15:52] #113 closed

[2019-04-10 17:58] cblackuk opened #117 "Get-PartnerInvoiceStatement - Cannot access a closed Stream"
This used to work last month but no longer does.

I tested with old modules, new modules, and on three different computers. All return the same error for all invoices. So the command is basically broken at this point.

# Steps to reproduce
[code]
## Expected behavior

Download of PDF

## Actual behavior
[code]

Then it produces an empty pdf file with the name of the invoice...
## Module
[code]

[2019-04-10 18:44] cblackuk commented on #117
Update - the API works it is just the command.

# https://api.partnercenter.microsoft.com/v1/invoices/<invoice-id>/documents/statement

        # Declare API parameter
        ## Declare header for API call
        $HeaderAzureRm = @{
            Authorization = "Bearer $($AccessToken.AccessToken)"
        }

Invoke-WebRequest -Uri "https://api.partnercenter.microsoft.com/v1/invoices/<invoiceId>/d

[2019-04-10 21:07] isaiahwilliams commented on #117
Hi @cblackuk,

The required code changes have been merged, and this issue will be addressed in the next release. Right now I do not know the exact date when this release will be available through the PowerShell gallery. My hope is have it available before the end of the month.

[2019-04-10 21:08] cblackuk commented on #117
Hi @isaiahwilliams,

Thank you ever so much for looking at it and fixing it so quickly! I can pull the invoice via API for this month and will re-test when you publish the fix in the next release.
Again, THANKS A LOT! I really appreciate such a rapid response and fixes :-)

[2019-04-15 09:08] mohammedzaid17 opened #119 "Login-AzureRmAccount Without login prompt"
[code]

It is working till Select-AzureRmSubscription -TenantId  but shows error when executing New-AzureRmADApplication
![image](https://user-images.githubusercontent.com/25500939/56120473-ca431e80-5f8b-11e9-8db3-a58767309a02.png)

Kindly help as i will be executing the above script from C#.
And I will be grateful if you help me find equivalent for above PowerShell snippet in C# since executing P

[2019-04-15 13:13] montereyharris commented on #119
Are you trying to create an Azure AD application in a customer tenant? Or is it your tenant?
If you are doing a customer tenant I believe you will need to set that when you do login-azurermaccount

Either way try set-azurermcontext rather than select-azurermsubscription

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: mohammedzaid17 <notifications@github.com>
Sen

[2019-04-16 05:00] mohammedzaid17 commented on #119
Yes, I'm creating an Azure AD application in a customer tenant.
Above script is working fine but i need to enter username and password to execute New-AzureRmADApplication command.

Still its showing same error "_Azure credentials have not been set up or have expired_" when I try with set-azurermcontext.

But it works when executing
[code]
Thank you for your response. Looking forward to hear from y

[2019-04-30 10:13] cblackuk commented on #117
Hi @isaiahwilliams, any news regarding the new module as the end of month is today and all my automation will fail...?

[2019-05-01 18:40] cblackuk commented on #117
It works now! Thanks @isaiahwilliams!

[2019-05-01 18:40] #117 closed

[2019-05-02 05:52] kemper451 opened #122 "Connect-PartnerCenter with cred object"
The command:

Connect-PartnerCenter -ApplicationId "<appID>" -Credential <PSCredential object>

is no longer connecting to PartnerCenter.  This command is currently working properly in module build 1.0.1809.10.

In build 1.5.1904.3, it throws the error:

Connect-PartnerCenter : Parameter set cannot be resolved using the specified named parameters.
At line:1 char:1
+ Connect-PartnerCenter -Applicat

[2019-05-07 23:22] jmeilleur1 opened #123 "New-PartnerCustomerOrder throws "2004" error with Trial orders"
$lineItems = New-Object -TypeName Microsoft.Store.PartnerCenter.PowerShell.Models.Orders.PSOrderLineItem
$lineItems.OfferId = "EB5BC29F-C744-4D36-8042-68BC11114EDA" (Tested several trials here with the same error)
$lineItems.Quantity = 25
New-PartnerCustomerOrder -CustomerId [insert customer id] -LineItems @($lineItems)

Generates
New-PartnerCustomerOrder : 2004 The following offer(s): EB5BC29F-C7

[2019-05-12 13:25] isaiahwilliams commented on #119
@mohammedzaid17 you need to specify the tenant identifier parameter when invoking the `Login-AzureRmAccount` command. It should look like

[code]

The value of the `$customerId` parameter is the identifier for the customer where you are connecting (e.g. 201726d7-1a9a-48b7-9b9d-fbc51cd7c041 or customer.onmicrosoft.com)

[2019-05-12 13:36] isaiahwilliams commented on #122
@kemper451 if you are specifying user credentials in `Credential` parameter then that functionality has been retired. This was done because multi-factor authentication will soon be required when accessing the Partner Center API. You can find an alternative solution for how to connect without interaction at https://docs.microsoft.com/powershell/partnercenter/secure-app-model

[2019-05-12 13:37] isaiahwilliams commented on #105
@Agazoth if you are still having issues please let us know.

[2019-05-12 13:37] #105 closed

[2019-05-12 14:00] isaiahwilliams commented on #123
@jmeilleur1 you will be able to configure the billing cycle for orders with the next release. The required code changes have been made, and I hope to have everything ready to release early this week. Until that is available you can utilize the cart functionality instead.

[2019-05-12 15:40] keijzerh opened #126 "et-PartnerAzureRateCard shows System.Collections.Generic.Dictionary`2[System.Decimal,System.Decimal] in Rates"
# Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2019-05-13 08:09] keijzerh commented on #126
using;
$rateCard = Get-PartnerAzureRateCard
$exportpath = $home + "\Downloads\azuremeters.csv"
$rateCard.Meters | Export-Csv $exportpath

will end up having System.Collections.Generic.Dictionary`2[System.Decimal,System.Decimal] in the rates part of the CSV file.

[2019-05-13 15:30] isaiahwilliams commented on #30
Hi @johandehaan,

This will be included in the next release. Our hope is to have the release available early this week.

[2019-05-14 10:52] kevinbasoftcat commented on #115
Attached is the command being run on a test subscription we have and the output clearly showing that field staying as True. Can someone please update me on why this field does not change.

![image](https://user-images.githubusercontent.com/49310429/57692460-b9470500-763e-11e9-85b9-cdde662180f1.png)

[2019-05-16 12:32] Agazoth opened #128 "Unable to create token with refresh token"
# Steps to reproduce
[code]

## Expected behavior

Token contains a refresh token

## Actual behavior

Token does not contain a refresh token

The guide found here: https://docs.microsoft.com/da-dk/powershell/partnercenter/secure-app-model?view=partnercenterps-1.5

states, that a token with a refresh token can be created by performing consent:
"When the command is invoked, you will be prompted to

[2019-05-16 13:30] Agazoth commented on #128
Created a new refresh token in Windows Powershell 5.1 following the guide here: https://docs.microsoft.com/da-dk/powershell/partnercenter/secure-app-model?view=partnercenterps-1.5

Second authentication made with my GlobalAdmin/AdminAgent account.

Exported the refresh token to my key vault. Now this works:

[code]

Still cannot generate a token with a refreshtoken in PowerShell Core

[2019-05-16 13:40] Agazoth commented on #128
It seems that the refresh token expires if not used in 90 days. Can anyone confirm this?

[2019-05-17 01:24] azmrb opened #129 "Set-PartnerCustomerUserLicense License Removal Inconsistent with Addition"
# Steps to reproduce
$license = New-Object -TypeName Microsoft.Store.PartnerCenter.PowerShell.Models.Licenses.PSLicenseAssignment
$licenses = New-Object -TypeName Microsoft.Store.PartnerCenter.PowerShell.Models.Licenses.PSLicenseUpdate
$licenses.LicensesToRemove.Add($license)

Based on documentation in help and LicenseUpdate Class of Microsoft.Store.PartnerCenter.Models.Licenses Namespace

## Expe

[2019-05-17 17:46] isaiahwilliams commented on #128
Hi @Agazoth,

You are encountering this behavior because the device code flow is used with the PartnerCenter.NetCore module. This flow does not support web applications, so you will need to use a native application or the PartnerCenter module running on Windows to obtain the initial refresh token. I am currently exploring options to add support for web applications when using the PartnerCenter.Net

[2019-05-17 17:50] isaiahwilliams commented on #128
All updates regarding this topic will be posted on issue #100. Please use that issue if you have any additional concerns or questions.

[2019-05-17 17:50] #128 closed

[2019-05-17 18:38] isaiahwilliams commented on #122
Please let us know if you have any additional concerns or questions.

[2019-05-17 18:38] #122 closed

[2019-05-17 18:40] isaiahwilliams commented on #119
Please let us know if you have any additional questions. If you need help with the Azure PowerShell module then I would recommend opening an issue [here](https://github.com/azure/azure-powershell/issues)

[2019-05-17 18:40] #119 closed

[2019-05-17 20:17] isaiahwilliams commented on #30
Version 1.5.1905.1 was just released. Please update and you will find the ability to get this information. Currently the Partner Center API does not support setting it.

[2019-05-17 20:17] #30 closed

[2019-05-17 20:18] isaiahwilliams commented on #123
Hi @jmeilleur1 version 1.5.1905.1 was just released. Please update and you will find the billing cycle property now.

[2019-05-17 20:18] #123 closed

[2019-05-20 12:31] johandehaan commented on #30
Hi @isaiahwilliams

I've updated the module and I just tried to retrieve this information, but I don't see the property when I retrieve a users' properties:

[code]

What am I doing wrong?

[2019-05-21 10:11] cblackuk opened #131 "New-PartnerCenterCustomerAgreement - Warning message"
When we run the cmdlet in the latest module it displays this:
[code]

Which parameter will be removed in the next release as it appears to be broken Warning as it is just puts `-` there.
@isaiahwilliams - help please? We are using this cmdlet a lot so I would like to know what will break please :)

[2019-05-21 12:48] isaiahwilliams commented on #131
I am not sure what is happening with the short link, but I will get that fixed. The user identifier parameter will be removed from that command.

Isaiah Williams
________________________________
From: Chris Black <notifications@github.com>
Sent: Tuesday, May 21, 2019 5:11:18 AM
To: microsoft/Partner-Center-PowerShell
Cc: Subscribed
Subject: [microsoft/Partner-Center-PowerShell] New-PartnerCenterCu

[2019-05-21 12:49] cblackuk commented on #131
@isaiahwilliams Thanks a lot for getting back to me so quickly. That makes perfect sense and it will not break anything for me :-) I hope ;-)

[2019-06-07 09:20] jf19742016 opened #132 "License Based Data (reconciliation) reoccuring"
Within the portal you can download a usage or license based reconciliation file.  I understand that you can't automate via powershell downloading of the reconciliation file but you can do an export-csv.  How do you get the licence based recurring based data from powershell as Get-PartnerInvoiceLineItem doesn't return licence options?  It has billinglineitems and usagelineitems and neither of these

[2019-06-07 12:52] isaiahwilliams commented on #132
Hi @jf19742016,

I did some testing this morning, and I would like to verify something with you. As part of my testing I ran the following command

[code]
The execution of the above command provide me a response similar to the following (note it has been truncated)
[code]

When you run the command are you not seeing the OfferName property?

[2019-06-07 12:55] isaiahwilliams commented on #131
If you have any issues please let us know. I am going to close this issue because there is not further action at this time.

[2019-06-07 12:55] #131 closed

[2019-06-07 14:03] cblackuk commented on #131
Thanks @isaiahwilliams - did you manage to fix that warning in the end?

[2019-06-07 15:00] jf19742016 commented on #132
Thanks - I didn't expect it to be there.  Your Azure Active Directory licenses are under Office.... ;)

[2019-06-07 15:00] #132 closed

[2019-06-10 17:26] sqlsolver commented on #78
This exact error happens with other modules, including Azure AD, in PowerShell Core 6.2.1 even with version 4.8 of the .Net framework installed. You can resolve it in your session by manually loading System.Windows.Forms at the command line:
[code]
prior to `Import-Module -name [your module with Windows Forms dependency]` but until this is resolved you may also want to add the .Net libraries to yo

[2019-06-10 20:11] isaiahwilliams commented on #78
Hi @sqlsolver,

Since you are using PowerShell Core you will need to install the PartnerCenter.NetCore module. You can do this by running

[code]

Note it is recommended that you uninstall the PartnerCenter module from PowerShell Core first.

[2019-06-10 22:05] sqlsolver commented on #78
That leads to more of the same when I try to import the PartnerCenter.NetCore module:
[code]

[2019-07-05 11:18] lewislivingstone opened #133 "Hourly Granularity Does Not Return Any Result"
Hi,

I am running the following command:
`Get-PartnerCustomerSubscriptionUtilization -CustomerId $customerId -SubscriptionId $subid -StartDate (Get-Date).AddDays(-5).ToUniversalTime() -Granularity Hourly -ShowDetails`

However, it does not return any results. Why is this?

Thank you
Lewis

[2019-07-09 18:12] gesbeckj opened #134 "Unable to Connect Using Connect-AzureRMAccount"
We are unable to connect using the Secure Application Model. Specifically the final step, Connect-AzureRMAccount fails with the error (Connect-AzureRmAccount : Exception has been thrown by the target of an invocation.) We are following the documented steps at https://docs.microsoft.com/en-us/powershell/partnercenter/secure-app-model?view=partnercenterps-1.5 and https://docs.microsoft.com/en-us/pow

[2019-07-10 21:16] SachinUpreti13 opened #138 "Unable to get Partner Center non AAD Roles via Powershell"
While trying to get the details of the admins present in the partner tenants I am facing issues while getting the details of the admins whose roles are not mentioned/present in AAD.  As show in picture we are able to get the group membership for the users with customers agent roles. But I need the command/way by which I can get the details of the account admin , MPN partner admin etc.
![image](htt

[2019-07-15 06:06] isaiahwilliams commented on #138
@SachinUpreti13 the Partner Center API does not return roles assigned at the partner level. The Partner Center roles are actually security groups in Azure AD. If you look at your tenant you will find the following groups

- AdminAgents
- HelpdeskAgent
- SalesAgent

You can use Microsoft Graph to obtain this information. I would recommend that you reference https://docs.microsoft.com/graph/api/grou

[2019-07-15 06:08] isaiahwilliams commented on #134
@gesbeckj what version of the AzureRM module are you using? That module has recently updated to a new version of the Microsoft.Rest.ClientRuntime library. You should be able to resolve this issue by updating to the latest version. Please let us know if this helps.

[2019-07-15 06:12] isaiahwilliams commented on #133
@lewislivingstone there are a number of reasons why this command will not return any information. Under most circumstances it is due to there being no information available for the defined period. Do you get information back for the same period when you run the command using the Daily granularity?

[2019-07-15 06:13] isaiahwilliams commented on #100
All of the documentation has been updated. Please let us know if there are any other concerns or questions.

[2019-07-15 06:13] #100 closed

[2019-07-15 12:44] lewislivingstone commented on #133
Hi Isaiah,

Yes, it returns Daily Granularity absolutely fine - that's why I was perplexed as I thought it might be because there was no data too.

Any other ideas?

Thanks
Lewis

From: notifications@github.com
Sent: 14 July 2019 23:12
To: Partner-Center-PowerShell@noreply.github.com
Reply to: reply@reply.github.com
Cc: lewis.livingstone@Microbyte.co.uk; mention@noreply.github.com
Subject: Re: [mi

[2019-07-15 15:32] gesbeckj commented on #134
Using 6.13.1 for AzureRM. which I believe is the latest version. I attempted to run Update-Module -Name AzureRM which did not update the version.

[2019-07-16 00:13] SachinUpreti13 commented on #138
Hi Isaiah,

We did tested internally and found 2 API endpoints from Partner Center (not present in official documentation but generated them from spock).Below are the calls and attached
![Capture](https://user-images.githubusercontent.com/52724805/61256955-8deeac80-a78c-11e9-9a0d-98c2b0a7db10.PNG)
 screenshots:

Roles : https://api.partnercenter.microsoft.com/v1/roles
Roles and Its members : https

[2019-07-18 23:01] blakejakopovic opened #139 "PSLicenseAssignment.cs ExcludedPlans missing set"
# Steps to reproduce

[code]

## Expected behavior

You should be able to set excluded plans when assigning a user license.

Output should be `$license.ExcludedPlans` is set with the provided value. The current behavior conflicts with the source comment:

https://github.com/microsoft/Partner-Center-PowerShell/blob/1984dbf7edd25204c2ecdeca160f1d72bc731ac0/src/PowerShell/Models/Licenses/PSLicenseAss

[2019-07-18 23:17] blakejakopovic opened #140 "Update README to with .Net Framework required version"
# Steps to reproduce

When using .Net Framework 4.5.2 the Partner Center Module fails to connect with minimal/cryptic error messages. It seems to be networking related dependancies causing the issue.

The following commands fail:
[code]

## Expected behavior

The above commands should connect without networking or invalid credentials exceptions.

## Actual behavior

The commands throw exceptions.

[2019-07-19 00:26] isaiahwilliams commented on #140
@blakejakopovic can you share the error message you are encountering?

[2019-07-19 00:33] isaiahwilliams commented on #139
@blakejakopovic you can use the add function on that property to add the plans that should be excluded. An example of this would look something like

[code]

[2019-07-19 01:32] blakejakopovic commented on #140
The same code as below worked after upgrading to `.Net Framework 4.7.2`, however errors when using `4.5.1/4.5.2`. Other versions untested.

When using `New-PartnerAccessToken -Consent`
[code]

When using `New-PartnerAccessToken` using an existing refresh token
[code]

Environment
[code]

[2019-07-19 01:55] blakejakopovic commented on #139
@isaiahwilliams How does that work with licenses that have conflicting/competing plans?

An example is as follows:
"You will have to expand the Business Essentials node and switch OFF “SharePoint Online (Plan 1)” because the Dynamics Licence includes “SharePoint Online (Plan 2)” and only one can be enabled at a time."

What happens if not all users have a Dynamics License, so you want to keep the

[2019-08-05 20:10] Paco2015 commented on #138
I would like to support an idea of changes to the module to get powershell commands listing these roles and associated users. Now, MS is migrating MPN portal to ParnerCenter. If you are only MPN partner with many users, to list users / roles is impossible via Get-PartnerCustomerUserRole as you are not a customer, only MPN partner managed via PartnerCenter. so, this would help to many others in sim

[2019-08-06 08:09] bilalAchahbar opened #141 "The supplied role does not have the rights to perform the requested operation"
Hello ,

I know that the same issue with the same title has been asked before in january this year. However there was no solution given to that person that"s why I will try it again.

I have set up an Azure AD application with a client ID and secret (the secret is not expired). some time ago but the script that I've run stopped working and stopped collecting data from the partner center and provid

[2019-08-13 22:52] isaiahwilliams commented on #141
@bilalAchahbar what operation are you trying to perform? The main reason yo will encounter this error is that you are attempting to perform an operation that requires Admin Agent privileges and the identity you are using does not have the role assigned.

[2019-08-13 23:00] isaiahwilliams commented on #140
@blakejakopovic thank you for sharing this additional information. The module is based on the .NET Framework version 4.6.1 and it does work if you have a new version installed. With respect to the first error you are encountering that appears to be INET_E_UNKNOWN_PROTOCOL, which is not expected. I would recommend that you install version 4.6.1, or later, of the .NET Framework and try these operati

[2019-08-13 23:04] isaiahwilliams commented on #138
The PartnerCustomerRole commands will only return directory role information for customers and not the partner. Additional features will need to be added to the SDK, to make this operation possible. The initial work to support this functionality has been completed. However, there is still some testing that needs to be performed and documentation developed. My hope is that we will be able to includ

[2019-08-13 23:06] isaiahwilliams commented on #134
@gesbeckj can you confirm that you have version 5.8.3 of the [AzureRM.Profile](https://www.powershellgallery.com/packages/AzureRM.profile/5.8.3) module installed?

[2019-08-13 23:08] isaiahwilliams commented on #133
@lewislivingstone I did some testing on this a while back, and the Partner Center API was not returning data when the granularity was set to hourly. This is not expected when there is data available, so I would recommend that you open a support ticket. Since the issue is that the API is not returning information the Microsoft support organization should be able to help determine what is happening

[2019-08-13 23:12] #115 closed

[2019-08-14 08:44] lewislivingstone commented on #133
Thanks @isaiahwilliams - I'll raise a Support case.

[2019-08-14 08:49] bilalAchahbar commented on #141
after the connection that doesn't work. I run this command `Get-PartnerCustomer´ to start my script where i fetch every customer and their billing hours per resource type. Now for you feedback over the admin agent is strange. It could be that someone in my organisation stripped the AD application from some admin roles. Can you guide me how to check what roles I need and where I can find the permis

[2019-08-15 07:35] blakejakopovic commented on #140
@isaiahwilliams I can confirm it's working with .NET Framework 4.7.2. The intention of this issue is to get the repo README.md updated to include a minimum .NET Framework version - I was just unsure what the minimum required version was.

Are you able to add a 4.6.1 .NET Framework requirement to the README.md, with any other pre-requisites for this module?

[2019-08-16 10:13] lewislivingstone commented on #133
@isaiahwilliams - Hi Isiaiah, I have been working with Sonika at Microsoft Support and we have found that if we enter the date manually, then the Hourly command will work.

I.e. ` Get-PartnerCustomerSubscriptionUtilization -CustomerId $customerId -SubscriptionId $subid -StartDate 12/08/2019 -EndDate 14/08/2019 -Granularity Hourly -ShowDetails`

However, we cannot use `(Get-Date).AddDays(-4)` to en

[2019-08-16 10:23] lewislivingstone commented on #133
@isaiahwilliams I have managed to find a workaround by doing the following: `Get-PartnerCustomerSubscriptionUtilization -CustomerId $customerId -SubscriptionId $subid -StartDate (Get-Date).AddDays(-4).ToShortDateString() -EndDate (Get-Date) -Granularity Hourly -ShowDetails`

Not sure if this is a bug but this fixes my problem for now. Either bug needs fixing or the documentation needs updating.

[2019-08-19 00:52] isaiahwilliams commented on #138
The ability to get these roles and list their members has been added to the [latest release](https://github.com/microsoft/Partner-Center-PowerShell/releases/tag/1.5.1908.1).

[2019-08-19 00:52] #138 closed

[2019-08-19 00:58] isaiahwilliams commented on #141
@bilalAchahbar you will need to check if the user, that was used to generate the refresh token, is still a member of the appropriate admin role in Partner Center. Usually the role used is the Admin Agents role because it can perform all operations the Partner Center API currently supports. You can check if the account has the appropriate rights by using the [user management](https://partner.micros

[2019-08-19 01:28] isaiahwilliams commented on #133
@lewislivingstone thank you for this update. I have updated the documentation for this command with the latest release. Please let me know if this [example](https://docs.microsoft.com/powershell/module/partnercenter/get-partnercustomersubscriptionutilization) provides you with the data you are seeking.

[2019-08-19 01:54] isaiahwilliams commented on #140
@blakejakopovic thank you for this feedback. I just updated the [install](https://docs.microsoft.com/powershell/partnercenter/install) documentation to include this requirement. Please let us know if you have any other feedback.

[2019-08-19 01:54] #140 closed

[2019-08-26 13:44] slavizh opened #148 "Support for Customer Agreement"
# Feature Request

**Is your feature request related to a problem? Please describe.**
Customer Agreement signing is already available in Sandbox. We need to first test this in Sandbox but this functionality is not available in the module. When this feature will be available?

**Describe the solution you would like**
A clear and concise description of what you want to happen.
We want to be able to

[2019-08-26 13:51] isaiahwilliams commented on #148
@slavizh we will be adding support for the Microsoft Customer Agreement in the next release. Right now the rough timeline for the upcoming release is the middle of September. Please note that the next release will contain a number of breaking changes, so we will be moving from version 1.5 to 2.0.

A number of these breaking changes have to deal with authentication since all of the API operations a

[2019-08-26 13:57] slavizh commented on #148
@isaiahwilliams Thanks! I will keep monitoring to understand what we will need to change. Hopefully if we use Refresh token should have to change the commands but not the authentication method.

[2019-08-27 08:12] slavizh commented on #148
@isaiahwilliams ok. sounds like a few parameters added and a few changed for the auth part. Will give us a little work as I have to update that code in over 60 repositories that use that type of auth but hopefully it will be the last major change in auth for a few months.

[2019-09-04 04:18] aconn21 opened #149 "Could not establish trust relationship for the SSL/TLS secure channel"
# Steps to reproduce
Run Get-PartnerInvoice

## Expected behavior
Lists invoices

## Actual behavior
Get this error:
Get-PartnerInvoice : 0 The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel.

## Diagnostic logs
Running command with debug option doesn't reveal anything additional.

## Environment
I've tried running this from various computer

[2019-09-04 07:00] aconn21 commented on #149
This appears to be fixed now, so must have been an Microsoft issue.

[2019-09-04 07:00] #149 closed

[2019-09-13 04:17] CStahlberg opened #152 "No account or login hint was passed to the AcquireTokenSilent call"
# Steps to reproduce

`Connect-PartnerCenter`
`Get-PartnerAzureRateCard -Currency EUR -Region DE`

## Expected behavior
Should output the ratecard

## Actual behavior

`Get-PartnerAzureRateCard : No account or login hint was passed to the AcquireTokenSilent call.
In Zeile:1 Zeichen:1
+ Get-PartnerAzureRateCard -Currency EUR -Region DE
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + Categ

[2019-09-13 14:52] cblackuk opened #153 "New-PartnerAccessToken : Parameter set cannot be resolved using the specified named parameters."
# Steps to reproduce
[code]
## Expected behavior
Should return AccessToken

## Actual behavior
[code]

[code]

[2019-09-13 14:55] cblackuk commented on #153
Basically, the New-PartnerAccessToken command no longer issues AccessToken like it used to as the function has been totally re-written.

How can we replicate this behaviour in the new function?

New -> https://github.com/microsoft/Partner-Center-PowerShell/blob/master/src/PowerShell/Commands/NewPartnerAccessToken.cs

Old -> https://github.com/microsoft/Partner-Center-PowerShell/blob/1984dbf7edd252

[2019-09-13 15:58] cblackuk commented on #153
[code]

Does not seem to work either... no matter what.

This works:
[code]
But only gives you AccessToken, no RefreshToken

Help?

[2019-09-13 16:09] cblackuk commented on #153
[code]

Results in:

[code]

However,

[code]

[2019-09-14 06:09] slavizh commented on #153
I am getting the same experience. I really hoped this would be smoother experience to upgrade. Also it is not clear how do we generate new refresh tokens with this command. We need to generate new refresh token every day otherwise the refresh token expires after certain period and we do not want to run manual actions where we have to generate the refresh token by entering the user credentials in a

[2019-09-14 06:14] cblackuk commented on #153
Glad I am not alone... this "transition" so far has been hell...

[2019-09-14 06:17] slavizh commented on #153
And it is not the first transition as we had many breaking changes. Feels like we are in some constant preview.
Now I am getting this error:

New-PartnerAccessToken : AADSTS700007: The grant was issued for a different client id.

Not sure how I reached to that state. It is generated even in a new powershell session. Also -Debug does not produce anything so why we have that at all.

[2019-09-14 06:17] cblackuk commented on #153
Exactly the same issue as above mate.

[2019-09-14 06:22] slavizh commented on #153
At least the old cmdlets work but unfortunately the reason why we need to move to the new version is the new customer agreement which we need to start onboarding our customers as it is process that takes time.  I am seriously thinking of writing my own cmdlet for these things now.

[2019-09-14 06:47] slavizh commented on #153
On top of that if I try to generate access token by providing the user credentials in a browser I get:

New-PartnerAccessToken : AADSTS7000215: Invalid client secret is provided.

Is there something that works at all I wonder.

[2019-09-14 06:48] cblackuk commented on #153
I have the exact same issues so I think it is just plain broken as the creds are fine :-)

[2019-09-14 06:52] slavizh commented on #153
When this change was communicated we understood that only the parameters will change but the wokflow will not change. We should be able to just use our existing refresh tokens and just modify the commands parameters

[2019-09-14 06:57] cblackuk commented on #153
Exactly... but instead in typical fashion, everything is broken and documentation does not reflect the actual state of affairs... Please fix it guys...

[2019-09-14 08:31] slavizh commented on #153
It is also interesting that the Get-PartnerAgreementDetail command does not return new customer agreement. It only returns old cloud agreement. I do not see any other cmdlet that can do that.

[2019-09-14 10:38] chwilfing commented on #153
me too - everything seems broken and the documentation seems to be just wrong.

is there currently _any_ way to successfully authenticate?

Additionally - I use a RefreshToken from a KeyVault to get the accesstoken (which did work with PartnerCenter.NetCore 1.5.xx) but if i try to load any AZ Module AFTER the PartnerCenter module i get an

[code]
The other way around, loading az module before part

[2019-09-14 22:48] isaiahwilliams commented on #153
Both of the problems mentioned in this issue have been resolved with version 2.0.1909.2. Let us know if you have any issues after updating.

[2019-09-14 22:48] #153 closed

[2019-09-14 22:49] isaiahwilliams commented on #148
Version 2.0.1909.2 has been released and it includes support for the new agreements and addresses the authentication issues. Please let us know if you have any issues.

[2019-09-14 22:49] #148 closed

[2019-09-14 22:50] isaiahwilliams commented on #141
Please let us know if you are still having any issues.

[2019-09-14 22:50] #141 closed

[2019-09-14 22:52] isaiahwilliams commented on #133
Please let us know if you are still having issues with the latest release.

[2019-09-14 22:52] #133 closed

[2019-09-14 22:53] isaiahwilliams commented on #134
Please us know if you are still having issues connecting. Additional information about connecting can be found at at https://docs.microsoft.com/en-us/powershell/partnercenter/multi-factor-auth?view=partnercenterps-2.0

[2019-09-14 22:53] #134 closed

[2019-09-14 22:56] isaiahwilliams commented on #152
@CStahlberg I have not been able to reproduce the issue you are encountering. Did you just run `Connect-PartnerCenter` without any parameters? Also, did you use an account associated with the Cloud Solution Provider program?

[2019-09-15 05:21] cblackuk commented on #153
@isaiahwilliams Thanks for looking into it so quickly. Will re-test first thing on Monday. Really appreciate the help here.

[2019-09-15 06:47] slavizh commented on #153
@isaiahwilliams Ok I am manage now to issue access token and connect. When I issue access token I do not get refresh token though. How to issue refresh token as we need to renew that daily? Additionally customer agreement is still missing. Should I open separate issue for that?

Thanks for resolving the issues during non-working hours.

[2019-09-15 06:53] slavizh commented on #153
Example:

PS C:\Users\stas> Get-PartnerAgreementDetail

AgreementLink                                              AgreementType           TemplateId                           VersionRank
-------------                                              -------------           ----------                           -----------
https://docs.microsoft.com/en-us/partner-center/agreements MicrosoftCloudAgreeme

[2019-09-15 06:55] slavizh commented on #153
Also this:

[code]

[2019-09-15 06:59] chwilfing commented on #153
Hi @slavizh
i'm not quit sure how you connected, my try with the [example 3](https://github.com/microsoft/Partner-Center-PowerShell/blob/master/docs/help/Connect-PartnerCenter.md#example-3-connect-to-partner-using-a-refresh-token) from the documentation does give me a token containing a refreshtoken but - throws an error at the connect phase:

[code]

@isaiahwilliams many thanks for responding and

[2019-09-15 07:05] slavizh commented on #153
Here is my auth command as it was in the example:

[code]

My $p.RefreshToken is empty. I want to get from one refresh token a new one.

On the customer agreement issue seems  Get-PartnerCustomerAgreement -CustomerId <tenant id>
does not returns all agreements but if you do:
Get-PartnerCustomerAgreement -CustomerId <tenant id> -AgreementType MicrosoftCustomerAgreement

You can get it. Seems now we

[2019-09-15 07:17] chwilfing commented on #153
For me this command creates a $p token containing a refresh token.

[code]

Maybe the difference is content of the current refresh token? we're using an MFA Enabled service account to create the initial refresh token due to secure application model.

With that authenatication the Get-PartnerCustomreAgreement does work for me:

[code]

[2019-09-15 07:22] chwilfing commented on #153
OK, a little bit too early.. authenticating through this way does not allow for example to get offers..

[code]

It does however get customers or invoices... Do I miss anything here?

[2019-09-15 08:01] slavizh commented on #153
Get-PartnerOffer is working fine. You need to specify country code. The error message is clear.

Besides cloud agreement there is now customer agreement. Customer agreement  will replace the cloud agreement but both will leave side by side for some time. With the above command you only get cloud agreement only, if you want to get customer agreement you have to specify it explicitly as in the examp

[2019-09-15 09:09] chwilfing commented on #153
Yes you're right, the error states the problem. i was only in the impression this should work as before. (in my case it did work before with 1.5 but now need to specify the country code explicitly)

[2019-09-15 12:14] isaiahwilliams commented on #153
@slavizh with respect to the Microsoft Customer Agreement you will need to use the new `AgreementType` parameter for that command. You can find more information about that agreement [here](https://docs.microsoft.com/powershell/module/partnercenter/get-partneragreementdetail?view=partnercenterps-2.0). The module does not return that value by default because we are mirroring the behavior of the API.

[2019-09-15 12:22] isaiahwilliams commented on #153
@slavizh I have not been able to reproduce the issue you are encountering with the missing refresh token. The following is what I am running

[code]

If you are still having issues with this, please open a new issue so we can track everything.

[2019-09-15 12:26] isaiahwilliams commented on #153
@chwilfing one of the things that `Connect-PartnerCenter` does is attempt to configure a country property based on the reseller profile. If the command is not able to get the profile it will leave that value blank, which I believe is the root cause for your issue with the `Get-PartnerOffers` command. I will look into that, but if this is an issue for you please open a new issue so we can track eve

[2019-09-15 13:12] slavizh opened #156 "New-PartnerAccessToken does not returns refresh token"
# Steps to reproduce

Refresh Token was issued with commands in v 1.5 of the module. It follows the standard way of creating SP, creation impersonation with the SP of a user that has global administrator and admin agent rights. Nothing out of the ordinary.

[code]

$p.RefreshToken is empty. Only access token is filled.

## Expected behavior

Expected output should contain Refresh token

## Actual

[2019-09-15 13:14] slavizh commented on #153
@isaiahwilliams  new issue is created:
https://github.com/microsoft/Partner-Center-PowerShell/issues/156

May be you are testing with refresh token that was generated with 2.0 commands. I do not know why it cannot be reproduce but I can reproduce it every time. I haven't tried re-issuing new refresh token with the new cmdlet version but the new version shouldn't require this effort.

[2019-09-15 13:18] isaiahwilliams commented on #156
@slavizh thank you for opening this new issue. When you generate a new access token using any refresh token, that refresh token should be injected into the cache. After that is accomplished everything should function as excepted. There is a possibility that what you stated in the other thread is correct, but that definitely is not the expected behavior. So, we will need to dig into this further to

[2019-09-15 13:21] slavizh commented on #156
If I try to generate new refresh token I get error on the web page after entering credentials:

AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application:

I am using the following command assuming it is the right way to issue the refresh token for the first time.

[code]

[2019-09-15 13:25] slavizh commented on #156
BTW when problems happen in the broswer you can never cancel the command on the PowerShell window. You should have some time out or ability to cancel the command otherwise I have to close the whole window.

[2019-09-15 17:32] cblackuk commented on #156
I have not managed to test it yet since the new release but I bank my money @slavizh is correct. Plus the issue of not being able to cancel is so annoying it is beyond belief... especially that the new module is so broken that you end up testing all of it 530403403400 times a day - needed to restart everything each time...

[2019-09-15 17:34] cblackuk commented on #156
Also I did mention in my last issue that Refresh Tokens are not being returned... I do not know C# well enough but when I read the code it does not appear to have the right property assigned to it.

[code]

Surely authResult.RefreshToken should exist somewhere here?

[2019-09-16 03:47] CStahlberg commented on #152
@isaiahwilliams I ran it as it is shown above. The account I used is my CSP global admin and admin agent account. I tried to run the same script I run every day after having to modify it because parameter were changed to basic functions like `Connect-PartnerCenter`

[2019-09-16 06:19] slavizh commented on #156
I do not know if this will help with reply url but here is mine. This is what was suggested when we first started this authentication model. As far as I can see the redirect url in the module is using localhost. Could that also cause the issue where the refresh token is not returned?

![image](https://user-images.githubusercontent.com/11890856/64937395-c715cc80-d862-11e9-8ad1-2a07f8503831.png)

[2019-09-16 06:58] slavizh commented on #156
If I put reply url https://localhost as well I can do interactive authentication. Seems you have changed the reply URL. Can you set it back to urn:ietf:wg:oauth:2.0:oob so we do not have to change our apps?

I still cannot get refresh token even when I have made this change,

[2019-09-16 07:27] cblackuk commented on #156
It has got nothing to do with what is setup in your App but everything to do with the code inside the command.

When I run the "fixed" code and check in fiddler:
![image](https://user-images.githubusercontent.com/28607803/64940240-5919d700-d85b-11e9-94f2-d8a5aa18ae81.png)
So when we run this:

[code]

We get:
[code]

But API is returning the Refresh Token correctly (see Fiddler) but the command is

[2019-09-16 09:45] slavizh commented on #156
@cblackuk Thanks for running this trough Fiddler. Do you get also reply URL issue if you try to issue completely new refresh token. I would assume yes if you have setup the app as me.

[2019-09-16 10:01] cblackuk commented on #156
The code above should issue a new token and it does but it does not get returned... until they fix it... no point testing anything else really :-)

[2019-09-16 11:24] slavizh commented on #156
I was wondering if you get the same AAD error when you use -UseAuthorizationCode parameter but anyway. I hope they will resolve that problem as well.

[2019-09-16 12:49] slavizh opened #158 "New-PartnerAccessToken returns error AADSTS50011 when -UseAuthorizationCode is used"
# Steps to reproduce

When using the below command with application that was created from the guidance on v1.5 module we get the error below in the browser after authentication.

[code]

[code]

Seems the problem is that this new v2. module requires that the application has https://localhost as reply url in the app where in previous version the guidance was that the app should be created with urn:

[2019-09-16 16:53] cblackuk commented on #156
Will test it tomorrow mate :)

[2019-09-17 07:22] cblackuk commented on #158
![image](https://user-images.githubusercontent.com/28607803/65020074-50d99e80-d924-11e9-8f9a-2d9c8208a605.png)

[2019-09-17 07:23] cblackuk commented on #156
You were 150% right mate:
![image](https://user-images.githubusercontent.com/28607803/65020108-6058e780-d924-11e9-9b28-a0b0e2c30ff6.png)

[2019-09-17 07:35] cblackuk commented on #158
The code that was merged but not yet published "might" fix the refresh token but it will not fix this issue IMHO, but I guess we will have to test it.

@slavizh @isaiahwilliams

[2019-09-17 07:42] slavizh commented on #156
Thanks for testing it.

[2019-09-17 22:01] wasife commented on #153
Hi,
I am using the below command to get the refresh token but it fails with the given error message. We are trying to change our app with the updated security model but still facing lots of issues. Any help would be highly appreciated.

$token = New-PartnerAccessToken -Consent -Credential $mycreds -Resource https://api.partnercenter.microsoft.com -TenantId $tenant_id
$refreshToken = $token.Refresh

[2019-09-18 07:57] slavizh commented on #158
@isaiahwilliams by the look of the merge request seems we will have to update our apps rather the code being changed, correct?

[2019-09-18 08:41] cblackuk commented on #158
That is how I have read it - seems wrong to me...

[2019-09-18 08:50] slavizh commented on #158
Yes. Especially that it was not documented that is breaking change.

[2019-09-19 06:00] slavizh commented on #156
2.0.1909.3 does not fixes refresh token not returned. :(

[2019-09-19 06:45] cblackuk commented on #156
Why am I not surprised... I guess the reply URL is also broken still right?

[2019-09-19 07:21] slavizh commented on #156
Haven't tested that but it is useless to test it if refresh token does not work.

[2019-09-19 08:58] cblackuk commented on #156
Just tested both.

No refresh token and reply URL is broken still.

[2019-09-19 08:58] LeonJansen commented on #156
Same here, issue still persists.

[2019-09-20 12:15] slavizh commented on #156
@isaiahwilliams Several days have passed and the only update was merged that didn't fixed the issue. Is the issue is investigated? Do we need to provide more information? When we can expect a fix?

[2019-09-20 12:15] slavizh commented on #158
@isaiahwilliams Several days have passed and the only update was merged that didn't fixed the issue. Is the issue is investigated? Do we need to provide more information? When we can expect a fix?

[2019-09-20 12:18] cblackuk commented on #158
Agreed with @slavizh we need some sort of resolution as this is a major showstopper for us CSPs... we need to get some traction on this from MSFT, please...

[2019-09-20 14:42] isaiahwilliams commented on #156
Refresh tokens are valid for 90 days, so while this issue is being debugged you should not encounter any issue with using the current value. Also, I just released version 2.0.1909.4 that adds the ability to get debug statements from MSAL. Can you update and run the command with and without the debug flag please?

[2019-09-20 15:47] slavizh commented on #156
@isaiahwilliams We have automation that renews tokens every day. We cannot migrate if we are not able to run it. ran the new version. refresh token is still not available. Debug is below:

[code]

[2019-09-20 16:05] isaiahwilliams commented on #156
@slavizh thank you for sharing this information. Just to confirm the refresh token value was still missing when you ran the command with this version correct?

[2019-09-20 16:34] slavizh commented on #156
@isaiahwilliams  yes

[2019-09-20 16:43] isaiahwilliams commented on #156
@slavizh that is interesting because the debug logs state the refresh token returned was cached. Can you confirm that `C:\Users\<username>\AppData\Local\.IdentityService` is empty as well?

[2019-09-20 16:50] slavizh commented on #156
@isaiahwilliams

![image](https://user-images.githubusercontent.com/11890856/65344271-f0768580-dbdf-11e9-8ae3-3d981a67ec29.png)

[2019-09-20 16:53] isaiahwilliams commented on #156
@slavizh thank you for sharing that. There should be a file named `msal.cache` in that directory. I am not sure what is happening just yet, but that is the reason the refresh token value is missing. The token cache is not persisting to storage. I was able to reproduce the issue and then I got it corrected in my environment. Let me keep digging to see what is causing this inconsistent behavior.

[2019-09-20 16:55] cblackuk commented on #156
Good luck and fingers crossed :) @isaiahwilliams

[2019-09-21 05:20] isaiahwilliams commented on #156
@slavizh the root cause for this issue has been identified and corrected. Can you update to version 2.0.1909.5 and let me know if the value is returning as expected now?

[2019-09-21 06:52] thepill opened #166 "How to handle refresh-token has expired due to inactivity"
# Steps to reproduce

Create a script without user interaction running longer than 90 days with a initial refresh-token set

## Expected behavior

The refresh-token gets updated automatically!?

## Actual behavior

The refresh token expires within 90 days

## Question

I couldnt find any example on how-to refresh the token automatically within the 90 days - is there any? Or do i have to recreate a

[2019-09-21 06:52] slavizh commented on #156
@isaiahwilliams I have verified that version 2.0.1909.5 produces token. Thank you for fixing this!

[2019-09-21 06:56] slavizh commented on #158
@isaiahwilliams This issue is still present with the latest  version (.5) let us know if will the new guidance will be to include https://localhost in reply URLs of the AAD app? Also if that is the case should we remove urn:ietf:wg:oauth:2.0:oob or it should stay?

[2019-09-21 06:57] slavizh commented on #158
In any case you should allow interrupting the process with ctrl +c and having some default timeout if authentication is not done. I think that is present in Az module if I remember correctly.

[2019-09-21 13:36] isaiahwilliams commented on #156
Awesome that is great news. It was a rather interesting issue, but the good news it is resolved now. Thank you for bearing with me while I worked to get everything sorted.

[2019-09-21 13:36] #156 closed

[2019-09-23 04:49] cblackuk commented on #158
So when can we expect this to be resolved please? @isaiahwilliams

[2019-09-23 06:16] cblackuk commented on #158
@slavizh can we just add localhost and leave urn:ietf:wg:oauth:2.0:oob and it still works? Have you tested that by any chance?

[2019-09-23 06:43] slavizh commented on #158
@cblackuk yes works if both are added.

[2019-09-23 06:52] cblackuk commented on #158
Thanks @slavizh I guess I will just add it for now...

[2019-09-25 03:12] xyamasaki commented on #152
I was getting similar error message but updating the "PartnerCenter" module solved the problem (updated from v2.0.1909.3 to v2.0.1909.5).

When using v2.0.1909.3, running `Connect-PartnerCenter` without specifying a parameter failed with "MsalUiRequiredException" error message.

[2019-09-25 03:47] isaiahwilliams commented on #152
@xyamasaki thank you for sharing this. There was a deployment issue that caused the wrong version of dependency to be included in the release build. That was corrected with the latest release. So, this issue should be completely resolved now. @CStahlberg if you are still having issues please let us know.

[2019-09-25 03:47] #152 closed

[2019-09-25 03:56] isaiahwilliams commented on #166
@thepill you are correct that, by default, a refresh token is only valid for 90 days. Each time you exchange a refresh token for an access token, a new refresh token is returned from Azure Active Directory. That refresh token is valid from the point in time it was generated plus 90 days. So, you can design a process that update the your stored refresh token, on a set interval (e.g. every 30 days)

[2019-09-25 04:20] isaiahwilliams commented on #139
@blakejakopovic with this approach you are turning on, or off, features associated with a specific license. So, if you have overlapping features due to the licenses assigned to the user then when you perform the update the operation will be scoped to the specific license. Let me review the command to see if there anything that can be done to remove some of the operational complexity that is there

[2019-09-25 04:23] isaiahwilliams commented on #98
The team responsible for the Partner Center API has committed to adding new price list features to the API. Right now there is not a timeline for when this new functionality will be available. Once it is I will be sure that functionality is added to this module.

[2019-09-25 04:24] isaiahwilliams commented on #88
Please let us know if you are still having issues.

[2019-09-25 04:24] #88 closed

[2019-09-25 04:31] isaiahwilliams commented on #158
@cblackuk  and @slavizh this is the expected behavior with the 2.0 release. Thank you for pointing out this breaking change is not included in the breaking changes documentation. I will work on getting that fixed shortly. The reason for this change is that PowerShell Core does not support the Windows form approach that was used in the past. To ensure that the `New-PartnerAccessToken` command could

[2019-09-25 04:31] #158 closed

[2019-09-25 06:12] johandehaan commented on #98
Thanks for the update @isaiahwilliams! I'm looking forward to that update.

[2019-09-25 07:57] thepill commented on #166
@isaiahwilliams Thank you!

I will give it a try and verify it in 90 days ;)

Will close this issue for now.

[2019-09-25 07:57] #166 closed

[2019-09-26 11:11] cblackuk opened #167 "Cannot specify more than one scope in New-PartnerAccessToken cmdlet despite it having "scopes""
# Steps to reproduce

[code]

## Expected behavior

Should add scopes to the authorisation but instead the code parses all the strings into the cmd.

[code]

Version:
[code]

[2019-09-26 21:05] prysmcorp commented on #156
Trying to generate a new token but receiving the following error

I'm running 2.0.1909.5. This occurs right after the consent in the browser on a fresh setup. Reply URI set correctly on app to "urn:ietf:wg:oauth:2.0:oob"

Anyone else running into this issue?

[2019-09-26 21:15] cblackuk commented on #156
@prysmcorp https://github.com/microsoft/Partner-Center-PowerShell/issues/158

Add https://localhost - job done

[2019-09-26 21:25] prysmcorp commented on #156
That was definitely it. Thank you, sir!

[2019-09-27 00:58] prysmcorp opened #168 "Connect-PartnerCenter"
Receiving the following error when attempting to connect to partner center.

[code]

[2019-09-27 07:30] morcinim opened #169 "New-PartnerAccessToken throws error for -UseDeviceAuthentication if web app instead of native app is used: AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'"
If -ApplicatonId points to a confidential client (web application) error will be thrown because
New-PartnerAccessToken does not admit -Credential paramenter with -UseDeviceAuthentication switch.
The New-PartnerAccessToken with -UseDeviceAuthentication switch therefore only works if app is a public client (native app)

This logic is undocumented and possibly a bug as confidential clients are being

[2019-09-27 14:14] cblackuk commented on #168
[code]
As per new docs for AccessToken you just need to pass Access Token :-)

[2019-09-27 14:18] cblackuk commented on #169
Makes sense to me, should be fixed!

[2019-09-27 14:23] cblackuk commented on #167
[code]

This should be a better example because it should work as per:

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-migration#scopes-for-a-web-api-accepting-v10-tokens

![image](https://user-images.githubusercontent.com/28607803/65776773-aab74100-e13a-11e9-9c34-4aaf5e14c5c5.png)

[2019-09-27 14:52] cblackuk commented on #167
The return we got from the API is:

[code]

[2019-09-27 15:40] prysmcorp commented on #168
That works. Perhaps the example listed further down that same page could be updated to reflect just the need for the access token? Ofc it also pulls those same examples with get-help

[2019-09-30 07:09] ehrnst commented on #169
I have this issue as well. Not sure when it occurred. Using a token acquired through REST directly works

[2019-10-01 03:05] isaiahwilliams commented on #169
When you specify the `UseDeviceAuthentication` parameter you are telling the module to use device code authentication. This particular flow only supports a public client, which is commonly referred to as a native client. If you try to use a web application with this approach the client secret value, even if it is included in the contents when request an access token, will be ignored by Azure Activ

[2019-10-01 03:05] #169 closed

[2019-10-01 03:28] isaiahwilliams commented on #168
I have updated the documentation in the repository, and I will make sure the changes get replicated to our documentation on docs.microsoft.com. Also, the updated example will be available through the `Get-Help` command with the next release. Thank you for letting us know about the issue.

[2019-10-01 03:28] #168 closed

[2019-10-01 04:06] isaiahwilliams commented on #167
@cblackuk with the last example you shared were you using an Azure Active Directory that had the Azure Active Directory Graph permissions assigned correct?

[2019-10-01 04:29] cblackuk commented on #167
No, it was more to show that it shows 200 in the "GUI"/Website but the error is just inside the GET - it obviously all failed. Unless you are asking if my SPN has got correct permissions - in which case - yes it does but you still cannot do anything from the cmdlet as shown above.

[2019-10-01 07:22] morcinim commented on #169
Great, thank you for the explanation. It would be great to include a note in help file of New-PartnerAccessToken powershell command that UseDeviceAuthentication flag implies ApplicationId parameter has to point to a native app to avoid confusion.

[2019-10-10 05:32] slavizh opened #171 "Is there example on purchasing new Azure plan and creating subscriptions?"
# Feature Request

**Is your feature request related to a problem? Please describe.**
Is there example on purchasing new Azure plan and creating subscriptions?
As this is coming next month and it is not even available in Sandbox to test we need to be prepared how we can implement this.

**Describe the solution you would like**
An example how this new azure plan is created and how subscriptions are

[2019-10-17 12:21] Mogge66 opened #172 "Get customDomains with Get-PartnerCustomer"
Why can't i retreive customDomains with Get-PartnerCustomer?
If i run this...
Get-PartnerCustomer -CustomerId 'xxxxxxxx-b209-4b18-847a-497405535b02' | Select-Object *
.. i only gets these properties:

AllowDelegatedAccess  : True
AssociatedPartnerId   :
BillingProfile        :
CommerceId            :
CustomerId            : xxxxxxxx-b209-4b18-847a-497405535b02
Domain                : customer.onmi

[2019-11-01 14:32] slavizh opened #179 "Shouldn't breaking changes increase the major version of the module?"
I just saw this https://github.com/microsoft/Partner-Center-PowerShell/releases/tag/2.0.1911.1 and seems there are breaking changes. When properer version control will be implemented so we can plan better?

[2019-11-02 14:23] SachinUpreti13 opened #180 "Unable to connect to the partner center powershell module via secure application method"
i am trying to connect to the partner center powershell module v2.0, below are the set of commands which I am using for the connection :

$cred=Get-Credential
$appid="<application ID>"
$tenant="<Tenantid>"
New-PartnerAccessToken -ApplicationId $appid -Credential $cred -Scopes "https://api.partnercenter.microsoft.com/user_impersonation" -ServicePrincipal -Tenant $tenant -UseAuthorizationCode

Below

[2019-11-06 22:27] desireewilliams opened #181 "Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0....."
With the release of version 2.0.1911.1, I updated my existing module in order to get some of the newer cmdlets that were released. Connect-PartnerCenter still works (well, sort of. The -ApplicationId option is no longer valid, but I could get it to connect so that's neither here nor there).

However, when I run any other command I get:
Could not load file or assembly 'Newtonsoft.Json, Version=9.0.

[2019-11-07 00:59] isaiahwilliams commented on #181
@desireewilliams would it be possible for you to share the output from `Get-Module` after you have loaded all the modules had loaded when you encountered this error?

[2019-11-07 01:05] isaiahwilliams commented on #179
@slavizh with respect to the recent release the major version was not changed because the change to the SDK was not considered a major change. Taking this into consider we felt it was best to leverage the same approach to the versioning for the PowerShell module. Moving forward the plan to more critically evaluate how best to version the module with respect to breaking change in dependencies. That

[2019-11-07 07:55] slavizh commented on #179
That is not the best approach. Look at Az module how they do that. When I update the PowerSHell module I am not updating the SDK, I am updating the PowerShell module. This means that I explicitly need to review every update as I see it as minor but there could be breaking changes. I beg you please do proper releases. This is not helping us as partners.

[2019-11-07 15:24] desireewilliams commented on #181
@isaiahwilliams here is both the error and the modules from a new instance of PowerShell
![image](https://user-images.githubusercontent.com/57154883/68402076-feed1200-0137-11ea-9de4-d555c025972a.png)

Here's a text version of the Get-Module
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest

[2019-11-07 16:03] gahujipo opened #182 "Get-PartnerCustomerLicenseDeploymentInfo throws Microsoft.Store.PartnerCenter.Exceptions.PartnerException"
# Steps to reproduce

[code]

## Expected behavior

Should output **Microsoft.Store.PartnerCenter.PowerShell.Models.Analytics.PSCustomerLicensesDeploymentInsights** like specified in [docs](https://docs.microsoft.com/en-us/powershell/module/partnercenter/get-partnercustomerlicensedeploymentinfo?view=partnercenterps-2.0).

## Actual behavior

![image](https://user-images.githubusercontent.com/26710

[2019-11-07 16:13] gahujipo commented on #182
The credentials I am using are service principal credentials of a reseller.

[2019-11-07 16:14] isaiahwilliams commented on #182
@gahujipo - You are encountering this error because this operation requires app + user authentication. So, you will not be able to authenticate using a service principal for this operation. You can find more information on this [here](https://docs.microsoft.com/partner-center/develop/get-licenses-deployment-information)

[2019-11-07 16:18] isaiahwilliams commented on #179
@slavizh completely understand and moving forward we will evaluate the plan more critically to evaluate how best to handle versioning with respect to the module. I really appreciate the feedback that you have shared.

[2019-11-07 16:37] #182 closed

[2019-11-07 21:27] Sam09m commented on #181
I'm experiencing a similar issue. I'm able to Connect to Partner Center, but not perform a Get-PartnerUser command. Screenshot attached:
![image](https://user-images.githubusercontent.com/54146802/68429073-08e03680-0173-11ea-8b27-7a3b992723a7.png)

[2019-11-08 15:18] defoortd opened #183 "Get-PartnerCustomer: Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified."
# Steps to reproduce

After import of the module and connecting to PartnerCenter i wanted to get a list of all customers and i keep getting this error.

## Expected behavior

Get list of customers

## Actual behavior

![image](https://user-images.githubusercontent.com/49642760/68487232-00efc780-0243-11ea-8474-2f4b9846112b.png)

## Environment

PartnerCenter version 2.0.1911.1

[2019-11-08 21:40] isaiahwilliams commented on #183
@defoortd thank you for opening this issue. I just released version [2.0.1911.2](https://www.powershellgallery.com/packages/PartnerCenter/2.0.1911.2) which contains a fix for this issue. After updating to the latest version please let me know if you have any other issues.

[2019-11-08 21:40] #183 closed

[2019-11-08 21:41] isaiahwilliams commented on #181
@desireewilliams and @Sam09m  thank you for opening this issue. I just released version [2.0.1911.2](https://www.powershellgallery.com/packages/PartnerCenter/2.0.1911.2) which contains a fix for this issue. After updating to the latest version please let me know if you have any other issues.

[2019-11-08 21:41] #181 closed

[2019-11-08 21:43] isaiahwilliams commented on #180
@SachinUpreti13 when using the `UseAuthorizationCode` parameter you will be prompted to authentication interactively using the authorization code flow. The redirect URI value will be generated dynamically. The generation process will attempt to find a port between 8400 and 8999 that is not in use. Once an available port has been found, the redirect URL value will be constructed (e.g. http://localh

[2019-11-09 03:45] isaiahwilliams commented on #172
@Mogge66 this module is using the Partner Center API to get customer information. Unfortunately the data returned from that API does not include any custom domains. I am currently exploring the various options for delivering this type of feature. As progress is made I will be updating #40. Thank you for providing this request.

[2019-11-09 03:45] #172 closed

[2019-11-11 14:07] KelvinTegelaar opened #186 "Generating RefreshToken for Exchange online fails"
When using the documentation at https://docs.microsoft.com/en-us/powershell/partnercenter/multi-factor-auth?view=partnercenterps-2.0#exchange-online-powershell%C2%A0

Generating a refresh token for Delegated Exchange administration fails.

Code executed:
`
$token = New-PartnerAccessToken -ApplicationId 'a0c73c16-a7e3-4564-9a95-2bdf47383716' -Scopes 'https://outlook.office365.com/.default' -Tenant

[2019-11-11 14:09] KelvinTegelaar commented on #186
When using the "old method" of authentication we get an error that the reply URL is incorrect, which is expected behaviour.

[2019-11-11 19:24] SachinUpreti13 commented on #180
if we are using our marketplace then how that should be the redirect URL for eg my marketplace address is www.abc.com. Then how should I use it in the application.

[2019-11-11 19:26] isaiahwilliams commented on #180
@SachinUpreti13 I am not sure that I follow what you are asking. Would it be possible for you to provide an example?

[2019-11-11 19:54] isaiahwilliams commented on #186
@KelvinTegelaar version [2.0.1911.3](https://www.powershellgallery.com/packages/PartnerCenter/2.0.1911.3) has just been released and included a solution for this issue. Please update to the latest version and let us know if you have any further issues.

[2019-11-11 19:54] #186 closed

[2019-11-11 22:36] isaiahwilliams commented on #171
@slavizh since the official release of the new Azure experience in CSP was not until November 1, no examples could be generated. With the official release the module now support all of the API changes. To purchase an Azure plan you will leverage the cart operations. This is similar to how you purchase reserved instances. In the coming days we will be adding documentation that outlines how to do th

[2019-11-11 22:38] isaiahwilliams commented on #179
Thank you for sharing this feedback. If you have any additional concerns or feedback please feel free to share the details with us.

[2019-11-11 22:38] #179 closed

[2019-11-12 10:22] slavizh commented on #171
@isaiahwilliams what about subscription creation? As far as I understand that now goes trough Azure APIs. Does that means we have to wait for support from Az module? If that is the case who is making that work will be done in Az module?

[2019-11-12 13:37] isaiahwilliams commented on #171
When you create an Azure Plan it will create one Azure subscription for you be default. Right now it is only possible to create additional subscriptions through the Azure portal or the ARM API.

Right now I am evaluating plans to add it to this module as well. However, this is not certain that this feature will be added. If the Az module will be adding it soon, then for sure I will not add it here

[2019-11-12 15:31] slavizh commented on #171
Ok. For now the current plan implementation makes it almost useless because creating one subscription and not having option to rename it, makes managing at scale impossible. Having subscriptions with the same name is deal breaker for us as well as  being able to create just one. I little bit disappointing that this was not available since day 1 like customer agreement signing.

[2019-11-12 15:34] isaiahwilliams commented on #171
That definitely makes sense, and that is why I am considering adding that functionality here. Currently this module only interacts with the Partner Center API and Microsoft Graph. Adding the ability to interact with the ARM API is what we are considering, but I am trying to be careful not to overlap functionality between the Az and Partner Center module.

[2019-11-12 15:42] isaiahwilliams commented on #171
@slavizh out of curiosity would you rather use on module for everything to manage the life cycle for a customer?

[2019-11-12 15:53] slavizh commented on #171
I think I would prefer one module to avoid doing second authentication. This is of course we do not have to play a game of catchup where for example something is updated on Azure API (new feature may be) and Az implements it and on Partner Center we have to wait some time until we get it. Such could be the ability to set tags on subscriptions.

[2019-11-14 09:34] christianarg opened #188 "Multi facture status Through API or SDK 39% but we have the consent made with user with mfa"
https://partner.microsoft.com/en-us/pcv/security/compliance shows multi facture status Through API or SDK 39% but we have the consent made with user with mfa.
The user has MFA Enforced using the MFA portal. We have implemented this long ago (not recent implementation)
Please help

[2019-11-14 10:58] o-l-a-v commented on #188
I'm currently trying out the Get-PartnerUserSignInActivity, maybe you can list out some details with it as well?

[code]

[2019-11-14 11:35] christianarg commented on #188
@o-l-a-v
1- how can I send you this information. I can't share it here as it list many UPN's from my organization
2- If I understand this correctly the commands you sent me are about user access to partner center (we're at 95% for users and we've already detected 2 signins that were made by mistake with an user with mfa exluded). Our main concern are "Through API or SDK", that we're at 39% altough

[2019-11-14 13:19] o-l-a-v commented on #188
I'm not a Microsoft employee, so don't send me anything! :P

Im in the same boat as you, trying to find out what causes or bad score. I believe it's due to Cloudyn in our case. Also we use IT Glue, and their Office 365 integration is not using secure application model, so we disabled that as well.

I got this command from Yammer where I see you've also found. It certainly does not list the informa

[2019-11-14 15:18] christianarg commented on #188
@o-l-a-v yes I realised your'e not MS after I also found you on Yammer :)
Interesting, we also use Cloudyn, so that could be a cause. We'll give it a look. What are you going to do with cloudyn?

[2019-11-15 01:17] gavsto opened #190 "New-PartnerAccessToken does not return a refreshtoken"
# Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

PSVersion:  5.1.18362.145

[2019-11-15 01:28] gavsto commented on #190
So - this must have been a transient issue as it's now returning the token. I have no idea why it was not previously.

[2019-11-15 03:41] isaiahwilliams commented on #40
This functionality will be delivered with the next release of the module. With the recent integration with Microsoft Graph, it is now possible to query for customers based on the default domain.

[2019-11-19 14:01] gavsto commented on #190
I am re-opening this because I have confirmed it has happening for more than one partner and on different devices. This is only working intermittently.

[2019-11-19 14:31] isaiahwilliams commented on #190
@gavsto can you provide an example of how you are calling this command?

[2019-11-19 14:38] obeliskstreet commented on #190
Same thing for me, I'd say at least 90% of the time it doesn't work.
I'm calling command from a standard powershell Window

[2019-11-19 15:18] isaiahwilliams commented on #190
@obeliskstreet can you give an example of how you are calling this command? What I am trying to determine is there an issue with a specific combination of parameters or not because I have not been able to reproduce this issue yet.

[2019-11-19 15:26] obeliskstreet commented on #190
From a powershell window, running the below. I've ran it tens of times today while I was troubleshooting another issue and I've managed to get a refresh token once.

New-PartnerAccessToken -ApplicationId 'a0c73c16-a7e3-4564-9a95-2bdf47383716' -Scopes 'https://outlook.office365.com/.default' -Tenant 'xxxxxxxxxxxxxxxxxxxxxxxxx' -UseDeviceAuthentication

[2019-11-19 15:39] isaiahwilliams commented on #190
@obeliskstreet can you run the following and share the output from an execution were the refresh token value is missing?

[code]

[2019-11-19 16:00] obeliskstreet commented on #190
I've hopefully removed all the unique bits from this, copy paste otherwise.

`PS C:\SecureAppModel> New-PartnerAccessToken -ApplicationId 'a0c73c16-a7e3-4564-9a95-2bdf47383716' -Scopes 'https://outlook.office365.com/.default' -Tenant 'xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxxx' -UseDeviceAuthentication
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code xx

[2019-11-19 16:26] kevinbasoftcat opened #191 "Issues with PartnerSignInActivity"
# Steps to reproduce
https://docs.microsoft.com/en-us/powershell/module/partnercenter/get-partnerusersigninactivity?view=partnercenterps-2.0

Using version .1 of the module only works in PowerShell Core 6.0. If we get all partner users as per the above article it returns over 4000 in our tenant. When running tjhe second command to get sing in activities it errors after a few hours.

Using version

[2019-11-19 16:57] isaiahwilliams commented on #191
This issue will be resolved with the next release. All of the code changes have been made, and we are targeting the end of this week for the release. I will update this issue when everything has been pushed to the PowerShell gallery.

Sent via the Samsung Galaxy S10+, an AT&T 5G Evolution capable smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: kevi

[2019-11-19 17:04] gavsto opened #192 "Get-AzureADUser does not work with delegated tokens"
# Steps to reproduce

`Connect-AzureAD -AadAccessToken $aadGraphToken.AccessToken -MsAccessToken $graphToken.AccessToken -TenantId $TenantIdClient -AccountId "$MyGlobalAdminUPN"`

then

`Get-AzureADUser`

PartnerCenter Module 2.0.1911.3
AzureAD Module 2.0.2.61

## Expected behavior
A list of users is returned from the tenant

## Actual behavior
Errors out:
`Get-AzureADUser : Error occurred while e

[2019-11-19 17:08] kevinbasoftcat commented on #191
Hi Isaiah,

Thank you for the update I will await your feedback.

Thanks,
Kevin Barlow

From: Isaiah Williams <notifications@github.com>
Sent: 19 November 2019 16:57
To: microsoft/Partner-Center-PowerShell <Partner-Center-PowerShell@noreply.github.com>
Cc: Kevin Barlow <KevinBa@softcat.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/Partner-Center-PowerShell] Issues with PartnerSi

[2019-11-19 21:00] isaiahwilliams commented on #190
@obeliskstreet thank you for sharing that information. Can you run the command again with the `-Debug` parameter? It would be helpful to see what is happening and the debug output will provide some insight into whether or not the token is being cached.

[2019-11-20 14:34] isaiahwilliams commented on #191
@kevinbasoftcat I have just released version [2.0.1911.4](https://www.powershellgallery.com/packages/PartnerCenter/2.0.1911.4) that contains a hotfix for this issue. After you update all user accounts will be returned. Please let us know if there are any other issues.

[2019-11-20 14:34] #191 closed

[2019-11-20 14:35] isaiahwilliams commented on #40
I have just released version [2.0.1911.4](https://www.powershellgallery.com/packages/PartnerCenter/2.0.1911.4) that contains the ability to get customers based on their default domain.

[2019-11-20 14:35] #40 closed

[2019-11-20 14:51] kevinbasoftcat commented on #191
Thanks Isaiah,

I will test this now.

From: Isaiah Williams <notifications@github.com>
Sent: 20 November 2019 14:35
To: microsoft/Partner-Center-PowerShell <Partner-Center-PowerShell@noreply.github.com>
Cc: Kevin Barlow <KevinBa@softcat.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/Partner-Center-PowerShell] Issues with PartnerSignInActivity (#191)

@kevinbasoftcat<https://gi

[2019-11-20 15:09] kevinbasoftcat opened #194 "Get-PartnerSignInActivity issue"
# Steps to reproduce
https://docs.microsoft.com/en-us/powershell/module/partnercenter/get-partnerusersigninactivity?view=partnercenterps-2.0

With the latest version .4 we are now getting all user's returned when using the Get-PartnerUser however when running the second part of the sign in activity commands we are getting the below error.

Get-PartnerUserSignInActivity : Code: generalException
Mes

[2019-11-20 15:16] isaiahwilliams commented on #194
@kevinbasoftcat would you mind sharing the details on how you authenticating and actual commands you running to get this error?

[2019-11-20 15:18] kevinbasoftcat commented on #194
Hi Isaiah,

I am authenticating using my global admin username and password that is an admin agent in our partner account. The commands I am running are from Example 6 in the below.

https://docs.microsoft.com/en-us/powershell/module/partnercenter/get-partnerusersigninactivity?view=partnercenterps-2.0

Thanks,
Kevin Barlow

From: Isaiah Williams <notifications@github.com>
Sent: 20 November 2019 15

[2019-11-20 15:24] isaiahwilliams commented on #194
@kevinbasoftcat thank you for the quick response. Just to confirm you are running `Connect-PartnerCenter` without any parameters when connecting correct?

If that is the case, then this issue for certain is not caused by authentication. Which means that Microsoft Graph is throwing an error in your circumstance, that is not being handled. To help isolate this error would you be able to run [Fiddler

[2019-11-20 15:49] kevinbasoftcat commented on #194
Hi Isaiah,

I am wandering if the issue was me running this in the background while doing other things on the same machine. I have just spun up an Azure VM to run it from and am running fiddler alongside the command to record the logs. As we have 4000+ users the command takes a long time to run and error so I will update you once it completes or errors with the fiddler logs.

Thanks,
Kevin Barlow

[2019-11-20 15:51] isaiahwilliams commented on #194
@kevinbasoftcat thank you for helping troubleshoot this, and smart thinking on using a virtual machine. There should not be an impact of you doing operations in the background, but it will be interesting to see what you discover.

[2019-11-20 16:14] kevinbasoftcat commented on #194
Hi Isaiah,

The command started to error so I stopped it and saved the fiddler log which is available in the attached. Please let me know If you need anything else.

Kind Regards,
Kevin Barlow

From: Isaiah Williams <notifications@github.com>
Sent: 20 November 2019 15:52
To: microsoft/Partner-Center-PowerShell <Partner-Center-PowerShell@noreply.github.com>
Cc: Kevin Barlow <KevinBa@softcat.com>; M

[2019-11-20 16:44] isaiahwilliams commented on #194
Hi @kevinbasoftcat, thank you for you helping with this. It does not look like the attachment came through. Can you email it to isaiah.williams@microsoft.com?

[2019-11-20 16:46] kevinbasoftcat commented on #194
Hi Isaiah,

Just sent them over using a shared link from my One Drive so that should come through to your email address any issues let me know.

Thanks,
Kevin Barlow

From: Isaiah Williams <notifications@github.com>
Sent: 20 November 2019 16:45
To: microsoft/Partner-Center-PowerShell <Partner-Center-PowerShell@noreply.github.com>
Cc: Kevin Barlow <KevinBa@softcat.com>; Mention <mention@noreply.git

[2019-11-21 14:57] isaiahwilliams commented on #192
@gavsto can you share details on how you generated the access tokens being used?

[2019-11-22 11:47] obeliskstreet commented on #190
Sorry for delay in coming back to this. I've tried a couple of times with debug this morning and am given the refresh token, not sure if something changed.

I do have some errors though which may be of use.

``DEBUG: MSAL Info False (False) MSAL 3.0.8.0 MSAL.CoreCLR N/A [11/22/2019 11:44:07 -
72d13318-c2c4-4fc6-b62a-fc0e953e1438]
=== Request Data ===
Authority Provided? - True
Scopes - https://out

[2019-11-22 19:12] isaiahwilliams commented on #194
@kevinbasoftcat I just released version [2.0.1911.5](https://www.powershellgallery.com/packages/PartnerCenter/2.0.1911.5) that contains a handful of enhancements. When you get an opportunity can you update to this version and try again?

[2019-11-24 01:43] isaiahwilliams commented on #167
@cblackuk my apologizes for not updating this sooner. This particular issue was addressed with the 2.0.1911.1 release. If you are curious you can see what was done [here](https://github.com/microsoft/Partner-Center-PowerShell/blob/master/src/PowerShell/Network/DefaultOsBrowserWebUi.cs). Please let us know if you have any other issues.

[2019-11-24 01:43] #167 closed

[2019-11-24 01:44] isaiahwilliams commented on #180
@SachinUpreti13 if you are still having issues please let me know.

[2019-11-24 01:44] #180 closed

[2019-11-24 01:54] isaiahwilliams commented on #188
@christianarg hopefully the percentages are looking better for you today. There have been a number of enhancements made to the command in question, so I would like to encourage you to update to the latest version and try again. The data returned from the Get-PartnerUserSignInActivity command will not match what is available in Partner Center due to the following reasons

1. The values in the dashb

[2019-11-24 01:54] #188 closed

[2019-11-24 02:10] isaiahwilliams commented on #190
The error above are excepted because the module is using MSAL and it will check periodically if device authentication has been completed. Usually if the refresh token is not included in the output that means there was something wrong with the cache. Over the past few releases there have been a number of minor changes to authentication. I would recommend that you update to the latest version, and i

[2019-11-25 09:17] kevinbasoftcat commented on #194
Hi Isaiah,

I installed the latest version and ran the commands again with fiddler also running. Below is the link to the fiddler logs and the Resolve-PartnerError command as the errors started appearing after about 20-30 minutes.

https://softcat-my.sharepoint.com/:u:/p/kevinba/EXM0i96zLLNAsLUiBUHPP1MBs8fROY38MDKTnjmT0HsWKw?email=isaiah.williams%40microsoft.com&e=PQKHM2

Please let me know if you

[2019-11-25 09:32] cblackuk commented on #167
Thanks @isaiahwilliams! I will test it soon :-)

[2019-11-26 08:32] slavizh commented on #167
the cmdlet for token still does not accepts more than one scope.
New-PartnerAccessToken : AADSTS28000: Provided value for the input parameter scope is not valid because it contains more than one resource. Scope https://api.partnercenter.microsoft.com/user_impersonation ht
tps://management.azure.com/user_impersonation offline_access openid profile is not valid.

[2019-11-26 08:38] cblackuk commented on #167
Sad ;-(

[2019-11-26 08:43] slavizh opened #200 "Get-PartnerAzureBillingAccount fails 'Unauthorized'"
# Steps to reproduce

When executing the cmdlet is fails. I am using refresh token. Token is scoped to 'https://api.partnercenter.microsoft.com/user_impersonation'. The user that is impersonated has Global Admin and Admin agent access.
Debug does not return different result.

[code]

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2019-11-26 08:58] Shadoxity opened #201 "Cannot connect to customer tenant Exchange Online via Secure application model"
Hey Everyone,
We are trying to move to use the secure application model for our partner scripts, working fine however we are completely struggling to get the Exchange Online powershell working.
Like the other modules, we need to be able to use our refresh token to sign into it, but I cannot find a way. The instructions here seem to have a prompt for details and the script seems to be incorrect.
ht

[2019-11-26 09:00] fjsebk opened #202 "Get-PartnerInvoiceLineItem gives no Error Message"
The idea was to get the files and invoices provided through CSP via an API which I wanted to code. The problem here is that I get some but not all files and sometimes not even an errormessage.

# Steps to reproduce

Connect-PartnerCenter
$path = "C:\tmp\"
$d = Get-PartnerInvoice
$d | ForEach-Object {$ivid = $_.InvoiceId
$pathname = $path + $_.InvoiceDate.Year + "\" + $_.InvoiceDate.Year + "_" + $_

[2019-11-26 09:17] slavizh opened #203 "Why New-PartnerAzureSubscription requires CustomerName parameter"
# Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I am always frustrated when [...]

Why New-PartnerAzureSubscription requires CustomerName parameter. Customer name is not unique property. It should require tenantid/customerId otherwise if there are two customers with the same name problems will occur.

[2019-11-26 09:21] slavizh commented on #200
@cblackuk can you check if you also have this issue. I would assume this is something you want to implement as well (Azure Plan support).

[2019-11-26 09:23] slavizh commented on #200
For some reason this works fine if I authenticate with user credentials.

[2019-11-26 09:29] cblackuk commented on #200
I have a better error than you:

[code]

[2019-11-26 13:49] isaiahwilliams commented on #203
@slavizh this particular command is calling the Azure Resource Manager API to create the subscription. That parameter is one of the required values for how the API was designed. It might be possible to interchange the identifier and name, but I have only tired using the customer name.

You can find more details about the API [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/prog

[2019-11-26 14:05] isaiahwilliams commented on #200
@cblackuk can you open a separate issue for the error you are getting and if you can share the output from `Get-Module` that results in the error you are receiving?

[2019-11-26 14:09] isaiahwilliams commented on #200
@slavizh this command is actually leveraging the Azure Resource Manager API. It is one of the few commands that have been added recently to help enable the ability to create an Azure subscription for an Azure Plan. Following the information available [here](https://docs.microsoft.com/azure/azure-resource-manager/programmatically-create-subscription?tabs=rest#create-subscriptions-for-an-mpa-billing

[2019-11-26 14:10] cblackuk commented on #200
[code]

[2019-11-26 14:12] cblackuk commented on #200
I might be wrong but to me it is the same issue as the command cannot get the right token... happy to open a new one @isaiahwilliams if you want?

[2019-11-26 14:13] isaiahwilliams commented on #200
@cblackuk for the `get_SerializationSettings` error if we can open a separate issue that will help with tracking. Also, it will be helpful to see the other modules you have loaded. I suspect your error might be due to an assembly binding redirect issue.

[2019-11-26 14:15] cblackuk commented on #200
Will open new one but here it is:
[code]

[2019-11-26 14:17] cblackuk opened #204 "Get-PartnerAzureBillingAccount - returns get_SerializationSettings error"
# Steps to reproduce

[code]

Started with https://github.com/microsoft/Partner-Center-PowerShell/issues/200

[2019-11-26 14:31] cblackuk commented on #204
@isaiahwilliams looks like AzureRM.Profile might be causing it as I can reproduce the other error now:

[code]

[2019-11-26 14:34] cblackuk commented on #204
Yep 100% confirmed - still needs fixing ;-P

[code]

[2019-11-26 14:41] isaiahwilliams commented on #200
@slavizh the Azure AD application that you used to generate the refresh token does it have the Azure Service Management API assigned?

The following is from my test environment where this is working

![image](https://user-images.githubusercontent.com/21131485/69643163-87b8e880-1028-11ea-8e40-65b1102f8a6a.png)

[2019-11-26 14:44] cblackuk commented on #200
Mine does and I have the same issue:
![image](https://user-images.githubusercontent.com/28607803/69643425-3aa23a00-105b-11ea-8412-971b0c7843ec.png)

[2019-11-26 14:49] isaiahwilliams commented on #204
Thank you for sharing this information, the root cause for this issue has to deal with a compatibility issue. The same issue that impacts compatibility between the Az and AzureRm modules also impacts AzureRm and PartnerCenter. If you are using PowerShell 5.1, then I would recommend install PowerShell Core and leverage the Az module for Azure.

This way if you still have a dependency on the AzureRm

[2019-11-26 14:52] cblackuk commented on #204
I wish I could my friend but I work on Azure Stack Hub and I do not have the option to use Az modules. I have to make it all work with this:
https://www.powershellgallery.com/packages/AzureStack/1.8.0

Which is:
[code]

[2019-11-26 14:55] cblackuk commented on #204
So the question is... why other cmdlets work fine but not this one? :)

[2019-11-26 14:59] isaiahwilliams commented on #204
This command is impact by this particular issue because the library being used was generated using the same process used to build the Azure SDK and the new parts of the Az module. So, it has different dependencies then the Partner Center operations. Fortunately you can have PowerShell 5.1 and PowerShell Core installed side by side. Which means you can leverage PowerShell Core for executing these c

[2019-11-26 15:58] bilalAchahbar commented on #156
hello I know this is closed but I've updated the module to the "2.0.1909.5 " version but I as well don't have a refreshcode.
The localhost solution did fixed my reply url.
@slavizh I was wondering what you mean by automating to refresh the token.
This is my code.
[code]

[2019-11-26 16:31] cblackuk commented on #204
Not in the Automation Runbook you cannot ;-(

[2019-11-26 18:00] isaiahwilliams commented on #156
@bilalAchahbar the root cause for this issue was related to how the module was being published. Since you have updated to a version where this has been corrected and your are still having issues please open a new issue. If you do open a new issue please include details about what exactly is missing.

[2019-11-26 18:04] isaiahwilliams commented on #201
@Shadoxity thank you for opening this issue. An update to the documentation has just been published the example for exchanging the refresh token should have been

[code]

The `Credential` and `ServicePrincipal` parameters should not have been included in that example. If you are still having issue please feel free to re-open this issue and we can investigate.

[2019-11-26 18:04] #201 closed

[2019-11-26 18:07] isaiahwilliams commented on #194
@kevinbasoftcat I having issue accessing the link you shared. Would it be possible for you to email the zip file to isaiah.williams@microsoft.com?

[2019-11-26 20:11] bilalAchahbar opened #205 "New-PartnerAccessToken does not return refreshToken"
I've updated the module to the "2.0.1909.5 " version but I don't have a refreshcode when I run the code       ´New-PartnerAccessToken -ApplicationId $appId -Scopes 'https://api.partnercenter.microsoft.com/user_impersonation' -ServicePrincipal -Credential $credential -Tenant $tenantId -UseAuthorizationCode ´

[code]

When I run the code above it fails at $Newtoken because $token.RefreshToken  is em

[2019-11-26 21:15] Shadoxity commented on #201
There is still a problem with this.
If I use an existing refresh token i get:
New-PartnerAccessToken : AADSTS700007: The grant was issued for a different client id.
Which is fine, cause its trying to use a different application id.

But if I run the command from your documentation (and I am really trying to find a way that does not manually require a password entered each time)

$token = New-Partn

[2019-11-26 21:23] isaiahwilliams commented on #201
@Shadoxity you will need to generate a new refresh token explicitly for Exchange Online PowerShell using the following

[code]

Note this is required because the access token used to access Exchange Online needs to have specific claims that are only available when you generate an access token using the `a0c73c16-a7e3-4564-9a95-2bdf47383716` application identifier. Once you have the newly created r

[2019-11-26 21:25] Shadoxity commented on #201
That is the error I posted above, when trying to generate that, it just gives an error.

$token = New-PartnerAccessToken -ApplicationId 'a0c73c16-a7e3-4564-9a95-2bdf47383716' -Scopes 'https://outlook.office365.com/.default' -Tenant '<tenantname>' -UseDeviceAuthentication

New-PartnerAccessToken : Object reference not set to an instance of an object.
At line:1 char:10
+ $token = New-PartnerAccessTo

[2019-11-26 21:26] isaiahwilliams commented on #201
@Shadoxity you might be encountering an error that was corrected a while back. Can you run the following, close PowerShell, and then try again?

[code]

[2019-11-26 21:28] isaiahwilliams commented on #205
@bilalAchahbar to help use rule out an issue that has already been resolved can you update to the latest version of the module and let us know if the issue persist?

[2019-11-26 21:32] Shadoxity commented on #201
Of course! Sorry I was on 2.0.1911.2 still.

The command is running now, however it has been running for 3 mins now and has not completed and has not popped up with anything?

[2019-11-26 21:34] isaiahwilliams commented on #201
@Shadoxity when you run the command it writes some instructions to the console. You will need to browse to <https://microsoft.com/devicelogin> and then enter the code shared on the console. Once you successfully authenticate everything will return.

[2019-11-26 21:37] Shadoxity commented on #201
It does not output anything in the console.

![2019-11-27_8-35-09](https://user-images.githubusercontent.com/52045330/69674685-1b55ec00-10f1-11ea-84b7-9278d851de5c.gif)

[2019-11-26 21:45] isaiahwilliams commented on #201
@Shadoxity can you share the output from the following?

[code]

[2019-11-26 21:52] Shadoxity commented on #201
PS C:\Users\leon> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.18362.145
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.18362.145
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersio

[2019-11-27 08:19] slavizh commented on #200
@isaiahwilliams yes it has. I can even generate token for Azure and login to Azure although under that tenant we do not have subscriptions. I am testing this first in Sandbox before I can move to production.
![image](https://user-images.githubusercontent.com/11890856/69705943-421b1f00-10ff-11ea-972d-c1fa74bf60e2.png)

[2019-11-27 08:21] slavizh commented on #203
@isaiahwilliams is it possible that you change the command in a way that we provide customer ID and the commandlet finds the customer and provides the needed information to the API. That would be better and more consistent experience within the whole module

[2019-11-27 08:31] bertrandpons opened #209 "Get-PartnerInvoice (and other commands) execution error"
Hi,

When I execute the PowerShell command Get-PartnerInvoice, I get the following error:
[code]

Powershell version and .NET version are up to date

Thank you for the help.

[2019-11-27 08:52] cblackuk commented on #204
On new module at least debug does something:
[code]

[2019-11-27 09:00] cblackuk commented on #200
New module has not fixed anything, not sure it was meant to...

[code]

[2019-11-27 10:37] #209 closed

[2019-11-27 10:38] bertrandpons commented on #209
I had to update to version 2.0.1911.6

[2019-11-27 15:58] bilalAchahbar commented on #205
Hi @isaiahwilliams
In the other issue that was closed I've seen that the update resolved it so Ive updated it to the latest version already
 the "2.0.1909.5 " version

[2019-11-27 16:14] isaiahwilliams commented on #205
@bilalAchahbar can you update to version 2.0.1911.6 and try it again?

[2019-11-27 16:25] bilalAchahbar commented on #205
Yes that did the job.
Thanks

[2019-11-27 16:25] #205 closed

[2019-11-27 16:27] bilalAchahbar opened #210 "Get-PartnerCustomer returned missing rights"
I run the command "Get-PartnerCustomer"
With the credentials I used from Azure AD app registrations.
But I received following error code.
 `Get-PartnerCustomer : The supplied role does not have the rights to perform the requested operation.`

The rights the Azure app registration has are:
![image](https://user-images.githubusercontent.com/36499520/69741293-174ebc00-113b-11ea-92c5-1aaa0476ef16.png)

[2019-11-27 16:29] isaiahwilliams commented on #210
@bilalAchahbar is the user account you authenticate with a member of the Admin Agents, Helpdesk Agents, or Sales Agents roles in Partner Center?

[2019-11-27 17:56] isaiahwilliams commented on #200
@cblackuk the latest release did not include any changes that would have impacted this command. Unfortunately I have not been able to reproduce the issue, so there is additional investigating that needs to be done. If you can do the following it will be helpful

1. Confirm that you are using an account that has Admin Agent privileges, see [Azure Cost Management for partners prerequisites](https://

[2019-11-27 18:05] cblackuk commented on #200
@isaiahwilliams
1. Yes 100% it has got Admin Agent privileges.
2. Run which command with fiddler? Connecting using RefreshToken and my access token for Partner Center is as thus:
[code]

3. I am running test inside docker and I cannot do Connect-PartnerCenter as per below but with -UseDeviceAuthentication using the same Account that I am using with RefreshToken auth - I do not get the error.

[cod

[2019-11-27 18:14] isaiahwilliams commented on #200
Thank you for sharing this information, and now I see the problem. The reason I was not able to reproduce the issue in my testing was that I was using the following to connect

[code]

Through this approach I do not have to exchange the refresh token for an access token, the module handles that for me. Since you are connecting using an access token that raw value is being use to interact with the

[2019-11-27 18:24] cblackuk commented on #200
That works:
[code]

That would mean I have to re-code literally everything... we are getting access token from:
[code]
So it should work...

Thanks @isaiahwilliams for looking into it!

[2019-11-27 18:34] isaiahwilliams commented on #200
@cblackuk thank you for confirming. If you elect to use the `RefreshToken` parameter as a workaround then the only thing that should change is that you do not need to call the `New-PartnerAccessToken` command because the `Connect-PartnerCenter` command will take care of that step on your behalf.

That approach is actually the best solution in my opinion, but I will see if there is a way we can add

[2019-11-27 21:24] Backspaze opened #211 "Get-PartnerAgreementDetail and Get-PartnerCustomerAgreement just generates errors"
As mentioned in [this](https://github.com/MicrosoftDocs/partner-center-docs-powershell/issues/78#issuecomment-559219452) comment I ran into some problems with these two commands:

- `Get-PartnerAgreementDetail`
- `Get-PartnerCustomerAgreement`

I'm using version 2.0.1911.6.

I can see in the `Resolve-PartnerError` below that it says `ServerResponse   : {Forbidden}` but I'm a global admin and don't

[2019-11-27 21:40] isaiahwilliams commented on #211
@Backspaze thank for sharing this information. The account you used to connect is it a member of the Admin Agents role?

[2019-11-27 21:48] Backspaze commented on #211
@isaiahwilliams Yes it is.

[2019-11-27 21:52] isaiahwilliams commented on #211
@Backspaze thank you for sharing that. Two more quick questions to help determine what is happening

Do you have a direct or indirect reseller enrollment in the CSP program?

Do you get this same error when connecting by running the following?

[code]

[2019-11-27 21:58] Backspaze commented on #211
@isaiahwilliams Indirect Reseller status, and yes I get the same error with those commands.

[code]

[2019-11-27 22:09] isaiahwilliams commented on #211
@Backspaze the root cause for this particular issue is that you are indirect reseller. Generally speaking there are some operations of the Partner Center API that will work for you but there are several that will require you to have a direct enrollment. I am not certain what features will work for you, but it is good to see that you are able to find some. To help you get around this particular lim

[2019-11-27 22:25] Backspaze commented on #211
@isaiahwilliams Ok, I've tried that now and got the same error so it seems that you're quite limited as an indirect reseller. But at least I know the reason now.

Thanks for the help!

[2019-11-28 06:42] slavizh commented on #200
@isaiahwilliams If this is the better solution for authenticating may be it is better to documented it somewhere. I will switch to this way of authenticating so we can put this best practice at place.
To clarify connecting to Azure via Az stays the same as there is no refresh token option there correct?

[2019-11-28 13:17] slavizh opened #212 "Ability to Suspend Activate Azure Plan subscriptions"
# Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I am always frustrated when [...]
Please provide option to set the status of Azure Plan subscription. This option is available for CSP subscriptions. Provide it in Set-PartnerAzureSubscription cmdlet.

**Describe the solution you would like**
A clear and

[2019-11-28 13:20] slavizh opened #213 "Ability to enable/disable Azure Cost Management for customers onboarded to Azure Plan"
# Feature Request

**Is your feature request related to a problem? Please describe.**
Provide option to enable/disable Azure Cost Management for customers that are onboarded to Azure Plan.

**Describe the solution you would like**
A clear and concise description of what you want to happen.

**Describe alternatives you have considered**
A clear and concise description of any alternative solutions o

[2019-11-28 15:51] cblackuk commented on #204
@isaiahwilliams so any idea what can I do in this case as this error will never allow me to automate anything ever again... if the new module requires .NET Core/Az module and is not compatible with PS 5.1 - what can I do here? If I load them in different order then the normal ARM cmdlets break like:

[code]

[2019-11-28 17:10] rodrijp opened #214 "New-PartnerAccessToken : AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'."
We're doing the steps related with [Enabling secure application model on CSP in order to use powershell.](https://docs.microsoft.com/es-es/powershell/partnercenter/secure-app-model?view=partnercenterps-1.5)

We use the last libraries, net framework 4.8 and PS 5.1,
We call _New-PartnerAccessToken_ in order to get the consent.

But the result was an error:

![NewPartnerAccessTokenConsent](https://us

[2019-11-29 10:51] slavizh opened #215 "Remove-PartnerSandboxCustomer does not work when Azure Plan is purchased"
# Steps to reproduce

The command returns error:

[code]

That customer does not have reserved instances purchased. It has Azure plan purchased only and the order id is for Azure Plan purchase. Did the functionality to remove customers in Sandbox is deprecated when using Azure Plans or this is bug?

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2019-11-29 11:02] slavizh commented on #215
Nowhere documented but subscriptions needs to be cancelled and than Azure plan suspended.

[2019-11-29 14:48] isaiahwilliams commented on #211
Glad we were able to identify the issue. Let know if you have any other issues with the module.

[2019-11-29 14:48] #211 closed

[2019-11-29 14:52] isaiahwilliams commented on #214
@rodrijp can you uninstall the PartnerCenter.NetCore module and try again?

That module does work with PowerShell 5.1 it is only meant for PowerShell Core. Newer versions of the PartnerCenter module work on both versions of PowerShell.

[2019-11-29 15:10] isaiahwilliams commented on #192
@gavsto can you share the details on how you generated the tokens and we will be glad to help?

[2019-11-29 19:26] isaiahwilliams commented on #190
If this issue is still happening please feel free to re-open this issue. Also, I wanted to share that work on the next release has started and it contains additionally changes to this process to ensure everything is returned consistently

[2019-11-29 19:26] #190 closed

[2019-11-29 19:39] isaiahwilliams commented on #204
@cblackuk help me understand what you trying to accomplish here. The Get-PartnerAzureBilling* commands are currently only used to get information used to create additional Azure subscriptions under an Azure Plan. With this in mind you should be able to load the Azure modules first and it will enable you to work around impacting the AzureRm cmdlets. However, it will mean that a separate process wil

[2019-11-29 19:44] isaiahwilliams commented on #171
@slavizh thank you for this feedback. Over the next several weeks a handful of commands will be added to provide support of the Azure Plan scenarios in the context of a partner.

[2019-11-29 19:44] #171 closed

[2019-11-29 19:47] isaiahwilliams commented on #213
@slavizh thank you for this feedback. This is definitely is something that should be added, to ensure partners can opertionalize all of the new features.

If you would like to contribute that will help us deliver this feature more quickly. Please feel to contribute to the development of this module.

[2019-11-29 19:54] isaiahwilliams commented on #212
@slavizh based on my understanding the ability to suspend Azure subscriptions under an Azure Plan through an API is not available yet, but the cancel functionality is available. This is definitely something that we would like add but we will need to wait until the API is available.

[2019-11-29 21:23] isaiahwilliams commented on #203
@slavizh with the release of version 3.0 we will be adding the `CustomerId` parameter to this command. Also, the currently plan is to remove the `CustomerName` parameter when version 3.0.1 is released.

[2019-11-30 10:01] cblackuk commented on #204
@isaiahwilliams I am just trying to make it all future-proof if you will and be able to continue on-board/off-board customers with the addition of Azure Plans without needed a separate process for Azure Plan specific tasks.
Currently I can do all of it, end-to-end in one runbook or container - but with the inability to use AzureRM modules or AzureBilling modules simultaneously - it is a massive is

[2019-12-02 04:14] isaiahwilliams commented on #202
@fjsebk thank you for bring this information. With the upcoming release there have been a number of enhancements that will help address this issue. Also, diagnostic information is being added to each command so if an error is not returned you will be able to actually see the response from the API just by specifying the `Debug` parameter.

With all of this in mind the root cause for this particular

[2019-12-02 06:04] slavizh commented on #212
@isaiahwilliams it is possible from Azure Portal if you browse the customer though. May be the customer should not be allowed to cancel subscription to mimic the behavior with CSP offer and this should be partner operation only.

[2019-12-02 19:24] cblackuk opened #217 "New-PartnerAccessToken : Unable to find an entry point named 'GetPerAdapterInfo' in DLL 'iphlpapi.dll'."
# Steps to reproduce

If you run New-PartnerAccessToken inside Azure Automation Runbook you will get the following error. That used to work as per notes below.

[code]
## Expected behavior

Return access token.

Last module that works that I have tested fine was:
"PartnerCenter" = "2.0.1909.5

In  "PartnerCenter" = "2.0.1909.5 it does this:

[code]

@isaiahwilliams

[2019-12-04 09:30] bilalAchahbar commented on #210
Can you help me out here.
I authenticate with the azure AD app registration "that has the permissions you see above".
But I can only add users and not Azure AD applications to different roles in Partner Center Dashboard.

Or Do I need to add my own user to the Partner Center roles because I log with my own user if I want to get the refresh Token (with the app ID and app secret of the azure ad app